{% extends "new_base.html" %}

{% block content %}
<div class="span6">
    <div class="alert-error">
        Произошла непредвиденная ошибка! <a href="/">Вернуться на главную.</a>
    </div>
</div>
{% endblock %}