{% load avatar_tags %}
{% load profiles_extras %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Односидельцы | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/static/tcal.css" type="text/css" media="screen"/>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="apple-touch-icon" href="/static/logo.png"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/tcal.js"></script>
    <script type="text/javascript" src="/static/js/jquery.lightbox-0.5.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.lightbox-0.5.css" media="screen"/>
    <meta name="robots" content="NONE,NOARCHIVE"/>
    <!--[if IE]>
  <link href="css/ie-fix.css" type="text/css" rel="stylesheet">
  <![endif]-->
    {% block extra_head %}{% endblock %}
    {% block external %}{% endblock %}
</head>
<body>
{% if messages %}
    <div style="position: fixed; top:0; left: 0;">
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
<div id="container">
    <div class="head nul">
        <div class="logo">
            <img src="/static/img/logo.png" alt="logo">
        </div>
        <div class="info">
            <p>
                односидельцы.com <a href="#" title="добавить в избранное"
                                    onclick="window.external.AddFavorite(location.href,document.title);">добавить в
                ибранное</a> или <a href="#" title="сделать стартовой">сделать стартовой</a><br/>
                В сети: <i>{% count_users %}</i> пользователей<br/>
                <!--Ваш последний визит: 16.04.2012  16:49-->
            </p>
        </div>
        <div class="banner">
            <a href="http://www.cpk.ua"><img src="/static/banner.png"/></a>
        </div>

    </div>
    {% if user.is_authenticated %}
        <div class="nav">
            <div class="nul">
                <a href="/" title="односидельцы" class="index"></a>

                <div class="search">
                    <form action="/forum/search/" method="get" name="search">{% csrf_token %}
                        <input type="text" name="keywords" class="word" value="Найти"
                               onblur="if (this.value=='') this.value='Найти';"
                               onfocus="if (this.value=='Найти') this.value='';">
                        <input type="hidden" name="action" value="search">
                        <input type="hidden" name="author" value="">
                        <input type="hidden" name="forum" value="0">
                        <input type="hidden" name="search_in" value="all">
                        <input type="hidden" name="sort_by" value="0">
                        <input type="hidden" name="sort_dir" value="ASC">
                        <input type="hidden" name="show_as" value="topics">
                        <input type="submit" class="button" value="">
                    </form>
                </div>
                <div class="sep"></div>
                <div class="login">
                    <a href="/imprisonment/user/{{ user.username }}/">Ходки</a>
                    <a href="/meet/">Знакомства</a>
                    <a href="/forum/">Форум</a>
                    <a href="/umessages/" class="new-tweet"></a>

                    <div class="sep"></div>
                    <a href="/accounts/{{ user.username }}/" class="user"><span
                            class="avatar">{% avatar user 20 %}</span><span class="p">Профиль</span><span
                            class="arr"></span></a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="nav">
            <div class="nul">
                <a href="#" title="односидельцы" class="index"></a>

                <div class="search null">
                </div>
                <div class="sep"></div>
                <div class="login">
                    <form action="/accounts/signin/" method="post" name="login">
                        {% csrf_token %}
                        <div class="field">
                            <label>Логин</label>
                            <input type="text" class="lg" name="identification" value="">
                        </div>
                        <div class="field">
                            <label>Пароль</label>
                            <input type="password" class="lg" name="password" value="">
                        </div>
                        <input type="submit" class="button" value="">
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    {% block content_head %}{% endblock %}
    {% block content %}
    {% endblock %}
    {% block content_foot %}{% endblock %}
    <br/><br/><br/><br/>
</div>
<div class="footer mod">
    <div class="alert">
    </div>
</div>


<!--</div>

<div class="clr"></div>
<div class="empty"></div>

</div>-->
<div id="footer">
    <div class="infoot">Copyright 2012</div>
</div>

</body>
<script type="text/javascript">
    $(function () {
        $('#gallery a').lightBox();
    });
</script>
</html>