{% load odnosidelci_avatar_tags %}
{% for k, v in avatars_dict.items %}
    {% if forloop.first %}
        <div class="item active">
            <div class="row-fluid">
                {% for ava in v %}
                    <div class="span2"><a href="/accounts/{{ ava.user.username }}/" class="thumbnail">{% odnosidelci_avatar ava.user 64 %}</a></div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="item">
        <div class="row-fluid">
            {% for ava in v %}
                <div class="span2"><a href="/accounts/{{ ava.user.username }}/" class="thumbnail">{% odnosidelci_avatar ava.user 64 %}</a></div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endfor %}
