{% extends "new_base.html" %}
{% load odnosidelci_avatar_tags %}

{% block left_menu %}
    {% include 'left_menu.html' %}
{% endblock %}

{% block content %}
    <div class="span6">
        <h3>Мои друзья</h3>
        {% if friends %}
            {% for person in friends %}
                <div class="stream">
                    <div class="list guests">
                        <div class="item">
                            <div class="avatar">
                                <a href="/accounts/{{ person.username }}/">{% odnosidelci_avatar person 48 %}</a>
                            </div>
                            <div class="inf">
                                <div class="name"><a
                                        href="/accounts/{{ person.username }}/">{{ person.profile.get_full_name }}</a>
                                </div>
                            </div>
                            <div class="ut">
                                <a class="btn btn-link" href="/umessages/view/{{ person.username }}/" title="">Написать
                                    сообщение</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        {% else %}
            <p>Друзей не найдено.</p>
        {% endif %}
        <br/>
        <a class="btn btn-primary" href="/friend/invite/">Пригласить друга.</a>
    </div>
    <div class="span4">
        {% if friends %}
            <h3>Последние отсидки друзей</h3>
            {% include "imprisonment_list_elements.html" %}
        {% endif %}
    </div>
{% endblock %}
