{% extends "new_base.html" %}
{% block title %}Отправить приглашение{% endblock %}

{% block head %}{% endblock %}

{% block content %}
<div class="container">
<div class="row">
  <div class="span12">
      <h3>Пригласить друга</h3>
		<form method="post" action=".">
		  {% csrf_token %}
		  {{ form.as_p }} 
		  <input type="submit" value="Пригласить"  class="btn btn-primary" />
		</form>
  </div>
</div>
</div>

{% endblock %}
