{% extends "base.html" %}

{% block content %}
    <div class="content nul">

    <div class="main">

    <div class="dashboard">

        <div class="stream">
            <div class="tabs">
                <div class="tab act">
                    <div class="l"></div>
                    <div class="c">
                        <span><a href="/imprisonment/user/{{ user.username }}/">Ходки</span>
                    </div>
                    <div class="r"></div>
                </div>
                <div class="tab">
                    <div class="l"></div>
                    <div class="c">
                        <span>Односидельцы</span>
                    </div>
                    <div class="r"></div>
                </div>
            </div>
            <div class="list places">
                <div class="item">
                    <div class="name">Енакиевская исправительная колония</div>
                    <div class="ut">
                        <div class="l">
                            <span class="dates">С 7 июня 2012  до  7 июня 2012</span>
                        </div>
                        <div class="r">
                            <a href="#" title="">удалить</a>
                            <a href="#" title="">односидельцы</a>
                        </div>
                    </div>
                </div>
                {% block extra_content %}{% endblock %}
            </div>
        </div>


        <div class="db-arr ad"></div>
        <div class="add mod">
            <div class="logo">
                <img src="/static/img/nd_logo.jpg" alt="">
            </div>
            <form action="add.php" method="post" name="add">
                <div class="lb"><label>Место отсидки:</label><a href="#" title="" class="noplace">нет в списке?</a>
                </div>
                <div class="place">
                    <div class="style-form-box">
                        <div class="select">
                            <input type="hidden" name="place" value="">

                            <div class="show"></div>
                            <div class="options" style="display: none; ">
                                <div class="sh">Выберите место отсидки</div>
                                <div class="option" data-value="first">first place</div>
                                <div class="option" data-value="second">second place</div>
                                <div class="option" data-value="third">third place</div>
                                <div class="option" data-value="fourth">fourth place</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="from">
                    <label>Начало срока:</label>
                    <input type="text" name="from">
                </div>
                <div class="to">
                    <label>Окончание срока:</label>
                    <input type="text" name="to">
                </div>
                <input type="submit" class="submit" value="Добавить">
            </form>
        </div>

        <div class="footer mod">
            <a href="#" title="">About</a>
            <a href="#" title="">Help</a>
            <a href="#" title="">Blog</a>
            <a href="#" title="">Mobile</a>
            <a href="#" title="">Status</a>
            <a href="#" title="">Jobs</a>
            <a href="#" title="">Terms</a>
            <a href="#" title="">Privacy</a>
            <a href="#" title="">Shortcuts</a>
            <a href="#" title="">Advertisers</a>
            <a href="#" title="">Businesses</a>
            <a href="#" title="">Media</a>
            <a href="#" title="">Developers</a>
            <a href="#" title="">Resources</a>
            <span class="copyright">© 2012  Odnosideltsi.com</span>
        </div

    </div>
{% endblock %}
