{% if imprisonments %}
    <ul style="list-style-type: none;">
        {% for imprisonment in imprisonments %}
            <br/>
            <li>
                <strong>{{ imprisonment.jail.name }}</strong>

                <p class="muted">с "{{ imprisonment.begindate }}" по "{{ imprisonment.enddate }}"</p>
                {% if show_delete %}
                    <br/><a href="/imprisonment/delete/{{ imprisonment.id }}/" class="btn btn-danger"
                            onclick="return confirm('Вы хотите удалить запись об этой ходке?');">Удалить</a>
                    <a class="btn" href="/imprisonment/odnosid/{{ imprisonment.id }}/" class="title">Найти
                        односидельцев</a>
                {% endif %}

                {% if show_user %}
                    Отсидка пользователя:
                    <a href="/accounts/{{ imprisonment.user.username }}/"
                       class="username">{{ imprisonment.user.username }}</a>
                {% endif %}
            </li>
            <hr/>
        {% endfor %}
    </ul>

    {% if show_paginator %}
        <div class="paginator">
            {% if has_prev %}
                <a href="?page={{ prev_page }}">&laquo; Предыдущая</a>
            {% endif %}
            {% if has_next %}
                <a href="?page={{ next_page }}">Следующая &raquo;</a>
            {% endif %}
            (страница {{ page }} из {{ pages }})
        </div>
    {% endif %}

{% else %}
    <p class="alert info">Ходок не найдено.</p>
{% endif %}
