{% extends "new_base.html" %}

{% block left_menu %}
    {% include 'left_menu.html' %}
{% endblock %}

{% block content %}
    <div class="span6">
        {% block extra_content %}
        {% endblock %}
    </div>

    <div class="span4">
        <form action="." method="post" name="add">
            <div class="to place">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <input class="btn btn-primary" type="submit" value="Добавить">
        </form>
    </div>
{% endblock %}