{% load i18n %}
{% load avatar_tags %}
{% load umessages_tags %}
{% load url from future %}
{% get_unread_message_count_for user as message_count %}

<div class="span2">
    <div class="">
        <ul class="nav nav-pills nav-stacked" style="font-size: 12px;">
            {% if user.is_authenticated %}
                {% block profile_navigation_items %}
                    <li><a href="/">Мой Профиль</a></li>

                    <li><a href="/umessages/">Мои Сообщения {% if message_count > 0 %}<span
                            class="badge badge-info pull-right">{{ message_count }}</span>{% endif %}</a></li>

                    <li><a href="/friends/{{ user.username }}/">Мои Друзья</a></li>
                    <li><a href="/imprisonment/user/{{ user.username }}/">Мои Ходки</a></li>
                    <li class="divider"></li>
                    <li class="nav-header">Мои Настройки</li>
                    <li>
                        <a href="{% url 'userena_profile_edit' user.username %}">{% trans "Edit details" %}</a>
                    </li>
                    <li>
                        <a href="{% url 'userena_password_change' user.username %}">{% trans "Change password" %}</a>
                    </li>
                    <li>
                        <a href="{% url 'userena_email_change' user.username %}">{% trans "Change email" %}</a>
                    </li>
                    <li><a href="#vipModal" data-toggle="modal">VIP настройки</a></li>


                {% endblock %}
            {% else %}

                <li class="nav-header">Профиль</li>
                <li><a class="btn" href="/umessages/view/{{ profile.user.username }}/">Написать
                    сообщение</a></li>
                <li><a class="btn btn-primary" href="#">Подарить VIP</a></li>
                {% if is_friend %}

                {% else %}
                    <li><a class="btn" href="/friend/add/{{ profile.user.username }}/"
                           onclick="return confirm('Вы хотите внести этого пользователя в список своих друзей?');">Добавить
                        в друзья</a></li>
                {% endif %}
            {% endif %}

            {% comment %}    {% if profile.user.friend_set.all %}
                <li class="nav-header">Друзья</li>

                {% for friend in profile.user.friend_set.all|slice:":10" %}
                    <li>
                        <div class="media">
                            <div class="avatar media-object" style="float:left;">
                                <a href="/accounts/{{ friend.to_friend.username }}/">{% avatar friend.to_friend 24 %}</a>
                            </div>
                            <div class="media-body">
                                <a href="/accounts/{{ friend.to_friend.username }}/"
                                   title="">{{ friend.to_friend.profile.get_full_name }}</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}

                <li><a href="/friends/{{ profile.user.username }}/" title="">смотреть все</a></li>
            {% endif %}
{% endcomment %}

        </ul>
    </div>
    <!--/.well -->
</div>