{% extends "new_base.html" %}
{% load odnosidelci_avatar_tags %}
{% load profiles_extras %}

{% block extra_head %}
    <style type="text/css">
        /* Removes the default 20px margin and creates some padding space for the indicators and controls */
        .carousel {
            margin-bottom: 0;
            padding: 0 10px 30px 40px;
        }

        /* Reposition the controls slightly */
        .carousel-control {
            font-size: 20px;
            width: 22px;
            height: 22px;
            line-height: 17px;
            left: -12px;
        }

        .carousel-control.right {
            right: -12px;
        }

        /* Changes the position of the indicators */
        .carousel-indicators {
            right: 50%;
            top: auto;
            bottom: 0px;
            margin-right: -19px;
        }

        /* Changes the colour of the indicators */
        .carousel-indicators li {
            background: #c0c0c0;
        }

        .carousel-indicators .active {
            background: #333333;
        }

        .thumbnail {
            width: 64px;
            height: 64px;
            overflow: hidden; /* contain images within thumbnail boundaries */
            border: 0; /* removes Bootstrap's default border */
            box-shadow: 0 12px 12px -10px #c4c4c4;
            -webkit-box-shadow: 0 17px 22px -20px #c4c4c4;
            -moz-box-shadow: 0 12px 12px -10px #c4c4c4;
        }

        .thumbnail img {
            width: 100%;
            height: auto;
        }

        /* to keep proportions */
        .thumbnails p {
            text-align: center;
            padding: 10px;
        }

        /* captions can be styled with an inline element */

    </style>
{% endblock %}

{% block meet_menu %}class="active"{% endblock %}

{% block left_menu %}
    {% include 'left_menu.html' %}
{% endblock %}

{% block content %}
    <div class="span7" style="padding-top: 20px;">

        <div id="myCarousel" class="carousel slide" style="display: none;">
            <!-- Carousel items -->
            <div class="carousel-inner"></div>
            <!--/carousel-inner-->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
        <!--/myCarousel-->

        {% block extra_content %}
            {% if people %}
                {% for person in people %}

                    <div class="container">
                        <div class="row">
                            <div class="span2"><a href="/accounts/{{ person.user.username }}/" class="pull-left"
                                                  style="margin: 5px;">{% odnosidelci_avatar person.user 111 %}</a>
                            </div>
                            <div class="span4">
                                <blockquote>
                                    <p><a href="/accounts/{{ person.user.username }}/">{{ person.get_full_name }}</a>
                                    </p>
                                    <small><cite title="Source Title">{{ person.get_place }} <i
                                            class="icon-map-marker"></i></cite>
                                    </small>
                                </blockquote>
                                <p>
                                    <i class="icon-gift"></i> {{ person.user.profile.birth_date }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr/>
                {% endfor %}
                <ul class="pager">
                    {% if people.has_previous %}
                        <li><a href="?page={{ people.previous_page_number }}">&larr; Предыдущая</a></li>
                    {% else %}
                        <li class="disabled"><a href="javascript: void(0)">&larr; Предыдущая</a></li>
                    {% endif %}
                    {% if people.has_next %}
                        <li><a href="?page={{ people.next_page_number }}">Следующая &rarr;</a></li>
                    {% else %}
                        <li class="disabled"><a href="javascript: void(0)">Следующая &rarr;</a></li>
                    {% endif %}
                </ul>
            {% endif %}
        {% endblock %}
    </div>
    <div class="span3">
        <form action="/meet/" method="post" accept-charset="UTF-8">
            {% csrf_token %}
            {% get_meet_form %}
            <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;"
                   type="submit" name="commit" value="Искать"/>
        </form>
    </div>
{% endblock %}
{% block extra_js %}
    <script>
        $(document).ready(function () {
            $.ajax({
                       url: "/meet/carousel-data/",
                       type: "GET",
                       dataType: "html",
                       success: function (html) {
                           $(".carousel-inner").html(html);
                           $('#myCarousel').show();
                       }
                   });
        });
    </script>
{% endblock %}