{% extends "new_base.html" %}
{% block extra_head %}
    <style type="text/css">
        body {
            background: url("/static/bootstrap/img/prevstill.jpeg") #fff no-repeat 50% 0;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">

        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="hero-unit">
            <h2>Вас приветствует сайт Односидельцы!</h2>
            {#	            <img class="pull-right" src="/static/adlogo.png" alt="Мой новый день - Благотворительный фонд">#}
            <p>Здесь Вы сможете искать своих односидельцев, просматривать информацию о пользователях сайта, размещать
                свои данные, загружать и смотреть фотографии друзей и знакомых, получать правовую поддержку</p>

            <p><a class="btn btn-primary btn-large" href="/accounts/signup/" rel="nofollow">Зарегистрироваться &raquo;</a> <a
                    class="btn btn-large" href="/accounts/signin/" rel="nofollow">Я уже пользователь &raquo;</a></p>
        </div>

        <!-- Example row of columns -->
        <div class="row">
            <div class="span4">
                <a class="btn" href="/accounts/signup/" rel="nofollow"><h3>Односидельцы</h3></a>
                <p></p>
                <p>На нашем сайте Вы можете искать своих односидельцев, общаться с людьми, прошедшими те же учреждения
                    что и Вы. Для поиска односидельцев необходима регистрация</p>
                {#      <p><a class="btn" href="/accounts/signup/">Зарегистрироваться &raquo;</a></p>#}
            </div>
            <div class="span4">
                <a class="btn" href="/accounts/signup/" rel="nofollow"><h3>Знакомства</h3></a>
                <p></p>
                <p>На нашем сайте существует раздел знакомств, где Вы можете найти заочниц и заочников для дружбы,
                    общения и брака. Для полной функциональности нужна регистрация</p>
                {#      <p><a class="btn" href="/meet/">Перейти к знакомствам &raquo;</a></p>#}
            </div>
            <div class="span4">
                <a class="btn" href="/forum"><h3>Форум</h3></a>
                <p></p>
                <p>В нашем форуме Вы можете получать правовую поддержку и советы других пользователей. Правовую
                    поддержку обеспечивают наши партнеры из <a href="http://www.cpk.ua" rel="nofollow">юридической фирмы “ЦПК”</a></p>
                {#      <p><a class="btn" href="/forum/">Перейти в форум &raquo;</a></p>#}
            </div>
        </div>
    </div>
{% endblock %}