{% load avatar_tags %}
{% load profiles_extras %}
{% load i18n umessages_tags %}
{% load common_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %} Социальная сеть для заключенных | Односидельцы | Добро пожаловать{% endblock %}</title>
    <meta name="google-site-verification" content="fDx1UPj1pCZvovXAg8_7knpkDJzm0GetaFnq5FyLN7Y" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ищите своих односидельцев. Новая социальная сеть для тех, кто отбывает наказание в местах лишения свободы, а также для тех кто освободился">
    <meta name="author" content="">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- Le styles -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/tcal.css" type="text/css" media="screen"/>

    {% get_canonical request %}

    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/tcal.js"></script>
    <script type="text/javascript" src="/static/js/jquery.lightbox-0.5.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.lightbox-0.5.css" media="screen"/>
    <style type="text/css">
        body {
            padding-top: 0px;
            padding-bottom: 0px;
        }
    </style>

    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/bootstrap/css/style.css" type="text/css" media="screen"/>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block extra_head %}
    {% endblock %}

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon" href="/static/logo.png">
    <link rel="shortcut icon" href="/static/favicon.ico">
</head>

<body>
<div class="container head">
    <div class="row">
        <div class="span4">
            <div class="logo">
                <img src="/static/bootstrap/img/logo.png" alt="logo">
            </div>
        </div>
        <div class="span4">
            <p>
                В сети зарегистрировано: <i>{% count_users %}</i> пользователей<br/>
            </p>
        </div>
    </div>
</div>

<div class="subhead">
    <div class="my_nav">
    </div>
</div>

<div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            {% if user.is_authenticated %}
                <a href="/imprisonment/user/{{ user.username }}/" class="index" title="односидельцы"></a>
            {% else %}
                <a href="/" class="index" title="односидельцы"></a>
            {% endif %}

            <div class="nav-collapse collapse">

                <ul class="nav">
                    {% if user.is_authenticated %}
                        <li {% block meet_menu %}{% endblock %}>
                            <a href="/meet/">Знакомства</a>
                        </li>
                        <li>
                            <a href="/forum/">Форум</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="nav">
                    <li class="divider-vertical"></li>
                </ul>
                <ul class="nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Юрист онлайн<b
                                    class="caret"></b></a>
                        <ul class="dropdown-menu" style="width: 400px; padding-left: 5px;" >
                                <li>
                                    <table>
                                        <tr>
                                            <td>
                                                <img src="/static/Prokopec.png" class="img-rounded">
                                            </td>
                                            <td style="padding-left: 10px;">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <strong>Прокопец Александр Николаевич</strong> <p class="muted">Старший юрист</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                             <strong>Тел.</strong> +38 (044) 219-18-17
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                             <strong>e-mail:</strong> oprokopets@cpk.ua
                                                        </td>
                                                    </tr>
                                                </table>

                                            </td>
                                        </tr>
                                </table>
                                </li>
                            </ul>
                    </li>
                </ul>
                <ul class="nav">
                    <li class="divider-vertical"></li>
                </ul>
                {% if user.is_authenticated %}
                    <ul class="nav">
                        <li>
                            <form action="/search/" method="get" class="navbar-form pull-left">
                                <input type="text" name="q" class=" search-query input-xlarge"
                                       placeholder="Поиск по имени, фамилии, погонялу">
                                <button type="submit" class="btn">Поиск</button>
                            </form>
                        </li>
                    </ul>
                {% endif %}
                {% if user.is_authenticated %}
                    <ul class="nav pull-right">
                        <li><a href="/logout/" rel="nofollow"><i class="icon-lock"></i> Выйти</a></li>
                    </ul>
                {% else %}
                    <ul class="nav pull-right">
                        <li><a href="/accounts/signup/" rel="nofollow">Регистрация</a></li>
                        <li class="divider-vertical"></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Вход <strong
                                    class="caret"></strong></a>

                            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                                <form action="/accounts/signin/" method="post" accept-charset="UTF-8">
                                    {% csrf_token %}
                                    <input id="identification" style="margin-bottom: 15px;" type="text"
                                           name="identification" size="30" placeholder="Логин"/>
                                    <input id="password" style="margin-bottom: 15px;" type="password" name="password"
                                           size="30" placeholder="Пароль"/>
                                    <!--<input id="remember_me" style="margin-right: 10px;" type="checkbox" name="remember_me" value="1" />
                                    <label class="string optional" for="remember_me">Запомнить на месяц</label>-->
                                    <input class="btn btn-primary"
                                           style="clear: left; width: 100%; height: 32px; font-size: 13px;"
                                           type="submit" name="commit" value="Войти"/>
                                </form>
                            </div>
                        </li>
                    </ul>
                {% endif %}
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>


{% if messages %}
    {% for message in messages %}
        <div class="container">
        <div class="row">
        <div class="span12">

        <div class="alert
			{% if "success" in message.tags %}alert-success {% endif %}>
			{% if "info" in message.tags %}alert-info {% endif %}>
			{% if "error" in message.tags %}alert-error {% endif %}>
		">
            {{ message }}
        </div>
    {% endfor %}
</div></div></div>
{% endif %}

<div class="container">
    <div class="row" style="margin-top: 5px;">
        {% block left_menu %}

        {% endblock %}


        {% block content %}

        {% endblock %}
    </div>

</div>

<div class="container">

    <div class="row">
        <hr>
        <div class="span2">
            <img src="/static/adlogo.png" alt="Мой новый день - Благотворительный фонд">
        </div>


        <div class="span2"></div>
        <div class="span2"></div>
        <div class="span2"></div>
        <div class="span2"></div>
        <div class="span2"></div>
    </div>
</div>

<div id="footer">
    <div class="infoot" style="padding-top: 12px; padding-left: 10px; padding-right: 10px;">
        <strong>&copy;</strong> Все права защищены 2014
        <ul class="pull-right" style="list-style: none; margin-bottom: 0px;">
            <li style="float: left; margin-left: 5px;">
                <a href="https://www.facebook.com/odnosidelci" rel="nofollow">
                <img src="/static/facebook.png" style="width: 32px; height: 32px;"/>
                </a>
            </li>
            <li style="float: left; margin-left: 5px;">
                <a href="http://www.odnoklassniki.ru/group/57086523277350" rel="nofollow">
                <img src="/static/odnoklassniki.png" style="width: 32px; height: 32px;"/>
                </a>
            </li>
            <li style="float: left; margin-left: 5px;">
                <a href="https://vk.com/odnosidelci" rel="nofollow">
                <img data-src="" src="/static/vkontakte.png" style="width: 32px; height: 32px;"/>
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap-transition.js"></script>
<script src="/static/bootstrap/js/bootstrap-alert.js"></script>
<script src="/static/bootstrap/js/bootstrap-modal.js"></script>
<script src="/static/bootstrap/js/bootstrap-dropdown.js"></script>
<script src="/static/bootstrap/js/bootstrap-scrollspy.js"></script>
<script src="/static/bootstrap/js/bootstrap-tab.js"></script>
<script src="/static/bootstrap/js/bootstrap-tooltip.js"></script>
<script src="/static/bootstrap/js/bootstrap-popover.js"></script>
<script src="/static/bootstrap/js/bootstrap-button.js"></script>
<script src="/static/bootstrap/js/bootstrap-collapse.js"></script>
<script src="/static/bootstrap/js/bootstrap-carousel.js"></script>
<script src="/static/bootstrap/js/bootstrap-typeahead.js"></script>

{% block extra_js %}{% endblock %}

<script>

    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-52813800-1', 'auto');
    ga('send', 'pageview');

</script>

<!-- Modal -->
<div id="vipModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="z-index: 1041;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">VIP</h3>
    </div>
    <div class="modal-body">
        <p>На данный момент, VIP часть недоступна.</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Закрыть</button>
    </div>
</div>


{% block gallery_modal %}{% endblock %}
</body>
</html>
