{% extends "imprisonment_base.html" %}
{% load avatar_tags %}

{% block title %}Односидельцы для {{ username }}{% endblock %}
{% block head %}Односидельцы для {{ username }}{% endblock %}

{% block extra_content %}

    <div class="main">
        <h3>Односидельцы</h3>

        <strong>{{ imprisonment.jail.name }}</strong>

        <p class="muted">с "{{ imprisonment.begindate }}" по "{{ imprisonment.enddate }}"</p>

        {% if odnosids %}
            {% for person in odnosids %}
                <div class="stream">
                    <div class="list guests">
                        <div class="item">
                            <div class="avatar">
                                <a href="/accounts/{{ person.user.username }}/">{% avatar person.user 48 %}</a>
                            </div>
                            <div class="inf">
                                <div class="name"><a
                                        href="/accounts/{{ person.user.username }}/">{{ person.user.profile.get_full_name }}</a>
                                </div>
                                <div class="dates">{{ person.profile.mood }}</div>
                            </div>
                            <div class="ut">
                                <a href="/umessages/view/{{ person.user.username }}/" title="">написать</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        {% else %}
            <p class="alert info">Односидельцев не найдено.</p>
        {% endif %}
    </div>

{% endblock %}
