{% extends "main.html" %}
{% load avatar_tags %}

{% block content %}
    <div class="content nul">
        <div class="adv v">
            <div class="ad"></div>
            <div class="ad"></div>
            <div class="ad"></div>
            <div class="ad"></div>
            <div class="ad"></div>
        </div>
        <div class="main">
            <!--<div class="profile">
            <div class="avatar">
                <img src="img/tmp/img1.jpg" alt="аватар">
            </div>
			
            <div class="info">
                <div class="name">{{u.first_name}} {{u.profile.second_name}} {{u.last_name}}</div>
                <div class="location">{{u.place}}</div>
                <div class="status">{{u.profile.mood}}</div>
                <div class="url"><a href="{{u.profile.get_absolute_url}}" title="profile url">{{u.profile.get_absolute_url}}</a></div>
                <a href="#" class="msg" title="написать сообщение"></a>
            </div>
        </div>-->
            <div class="settings profile">
                <div class="t"></div>
                <div class="c">
                    <div class="reg-form">
                        <div class="title">
                            Ваш профиль
                        </div>
                        <form method="post" action=".">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" class="submit" value="Сохранить"/>
                        </form>
                    </div>
                    <div class="clr"></div>
                    <div class="title">
                        <h3>фотография профиля</h3>
                    </div>
                    <div style="overflow: hidden; margin-bottom: 15px;">
                        <div class="img">
                            {% avatar user %}
                        </div>
                        <div class="v r">
                            <!--<input type="file" name="newavatar" class="newavatar">-->
                            <a class="g" href="{% url avatar_change %}">Заменить фото профиля</a>
                        </div>
                    </div>
                    <div class="clr"></div>
                    <div class="i im">
                        {% for avatar in user.avatar_set.all %}
                            <div class="item">
                                {% render_avatar avatar 83 %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="clr"></div>
                    <div class="v">
                        <label>Статус:</label>
                        <span>пользователь</span>
                        <a class="g" href="#" title="Купить VIP статус">Купить VIP статус</a>
                    </div>

                    </form>
                </div>
                <div class="b"></div>
            </div>
        </div>
        <div class="dashboard">
            <div class="db-arr pr"></div>
            <div class="profile mod">
                <div class="oh">
                    <div class="logo">
                        <img src="img/nd_logo.jpg" alt="">
                    </div>
                    <div class="pc-form">
                        <a class="act" href="." title="Данные профиля">Данные профиля</a>
                        <a href="/src/imprisonment/edit/" title="Редактировать ходки">Редактировать ходки</a>
                        <a href="/message/settings/" title="Настройки уведомлений">Настройки уведомлений</a>
                        <a href="/vip/" title="VIP настройки">VIP настройки</a>
                        <a href="#" title="Удалить профиль">Удалить профиль</a>
                        <a href="#" title="Справка">Справка</a>
                        <a href="/logout/" title="Выйти">Выйти</a>
                    </div>
                </div>
            </div>
            <div class="contacts mod">
                <div class="title">
                    <h3>Знакомства</h3>
                    <span>(165 новых)</span>
                    <a href="#" title="">смотреть все</a>
                </div>
                <div class="list">
                    <div class="item"></div>
                    <div class="item"></div>
                    <div class="item"></div>
                    <div class="item"></div>
                </div>
            </div>
            <div class="friends mod">
                <div class="title">
                    <h3>Друзья</h3>
                    <span>(12)</span>
                    <a href="friends.html" title="">смотреть все</a>
                </div>
                <div class="list">
                    <div class="item">
                        <div class="avatar">
                        </div>
                        <div class="name"><a href="#" title="">Сергей поляна</a></div>
                        <div class="status">Producer, Director & Designer</div>
                    </div>
                    <div class="item">
                        <div class="avatar">
                        </div>
                        <div class="name"><a href="#" title="">Валерий</a></div>
                        <div class="status">Writer, Singer & Songwriter</div>
                    </div>
                    <div class="item">
                        <div class="avatar">
                        </div>
                        <div class="name"><a href="#" title="">Черных</a><a href="#" class="msg"
                                                                            title="написать сообщение"></a></div>
                        <div class="status">Always wondering what's happening</div>
                    </div>
                </div>
            </div>
            <div class="footer mod">
                <a href="#" title="">About</a>
                <a href="#" title="">Help</a>
                <a href="#" title="">Blog</a>
                <a href="#" title="">Mobile</a>
                <a href="#" title="">Status</a>
                <a href="#" title="">Jobs</a>
                <a href="#" title="">Terms</a>
                <a href="#" title="">Privacy</a>
                <a href="#" title="">Shortcuts</a>
                <a href="#" title="">Advertisers</a>
                <a href="#" title="">Businesses</a>
                <a href="#" title="">Media</a>
                <a href="#" title="">Developers</a>
                <a href="#" title="">Resources</a>
                <span class="copyright">© 2012  Odnosideltsi.com</span>
            </div>
        </div>
    </div>
    <div class="modal" style="display: none;">
        <div class="t"></div>
        <div class="clr"></div>
        <div class="c">
            <div class="add-place">
                <form action="add_place.php" method="post" name="add_place">
                    <h3>Добавить место отсидки<a href="#" class="close" title="Закрыть"></a></h3>

                    <div class="a">
                        <label>Страна</label>
                        <input type="text" name="country">
                    </div>
                    <div class="a">
                        <label>Город</label>
                        <input type="text" name="sity">
                    </div>
                    <div class="a">
                        <label>Название учреждения</label>

                        <div class="text">
                            <div class="tt"></div>
                            <div class="tc">
                                <textarea name="palce"></textarea>
                            </div>
                            <div class="tb"></div>
                        </div>
                    </div>
                    <input type="submit" class="submit" value="Добавить в список">
                </form>
            </div>
        </div>
        <div class="b"></div>
    </div>
    <div class="modal" style="display: none;">
        <div class="t"></div>
        <div class="clr"></div>
        <div class="c">
            <div class="add-friend">
                <form action="add_frien.php" method="post" name="add_frien">
                    <h3>Пригласить в друзья<a href="#" class="close" title="Закрыть"></a></h3>

                    <div class="i">
                        <img src="img/tmp/img6_min.jpg" alt="">
                        <span class="name">Алексей</span>
                        <span class="from">Украина, Киев</span>
                        <span class="date">7 июня 2012, 17:26</span>
                    </div>
                    <div class="a">
                        <div class="hi">
                            <div class="tt"></div>
                            <div class="cc">
                                <div class="text">
                                    <div class="ttt"></div>
                                    <div class="tc">
                                        <textarea name="aboutme">Приветствие</textarea>
                                    </div>
                                    <div class="tb"></div>
                                </div>
                                <div class="clr"></div>
                                <input type="submit" class="submit" value="Пригласить">
                            </div>
                            <div class="bb"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="b"></div>
    </div>
    <div class="modal" style="display: none;">
        <script type="text/javascript">
            $(document).ready(function () {
                $('.present').stylingform();
            });
        </script>
        <div class="t"></div>
        <div class="clr"></div>
        <div class="c">
            <div class="present">
                <form action="/present/" method="post" name="present">
                    <h3>сделать подарок<a href="#" class="close" title="Закрыть"></a></h3>

                    <div class="l">
                        <div class="item"><a href="#" title=""><img src="img/present/1.jpg" alt=""></a></div>
                        <div class="item"><a href="#" title=""><img src="img/present/2.jpg" alt=""></a></div>
                        <div class="item"><a href="#" title=""><img src="img/present/3.jpg" alt=""></a></div>
                        <div class="item"><a href="#" title=""><img src="img/present/4.jpg" alt=""></a></div>
                        <div class="item"><a href="#" title=""><img src="img/present/5.jpg" alt=""></a></div>
                        <div class="item"><a href="#" title=""><img src="img/present/6.jpg" alt=""></a></div>
                    </div>
                    <div class="sep"></div>
                    <div class="r">
                        <div class="checkbox">
                            <div class="check"><input type="checkbox" name="po"></div>
                            <span>Подмигнуть</span>
                        </div>
                        <div class="checkbox">
                            <div class="check"><input type="checkbox" name="pv" checked="checked"></div>
                            <span>Подарить VIP</span>
                        </div>
                        <div class="checkbox">
                            <div class="check"><input type="checkbox" name="pa"></div>
                            <span>Поднять анкету</span>
                        </div>
                    </div>
                    <div class="clr"></div>
                    <input type="submit" class="submit" value="Подарить">
                </form>
            </div>
        </div>
        <div class="b"></div>
    </div>
{% endblock %}