{% extends "base.html" %}

{% block content %}

<div class="content nul start">
    <div class="title main">
        <h1>Вас приветствует сайт Односидельцы!</h1><br>
<span>
	Здесь Вы сможете искать своих односидельцев, просматривать информацию о пользователях сайта, размещать свои данные, загружать и смотреть фотографии друзей и знакомых, получать правовую поддержку (<a href="http://www.cpk.ua">у наших партнеров</a>) и советы в нашем форуме.<br/>
			Также у нас существует раздел знакомств, где Вы можете найти заочниц и заочников для знакомства, общения и брака.<br/>
			Для этого Вам необходимо зарегистрироваться на нашем сайте.<br/>
			Пожалуйста, ознакомьтесь с нашими Правилами и добро пожаловать на наш сайт!
</span>
        	<div class="reg">
    		<br>
 			<a class="g" href="/accounts/signup/" title="Регистрация">Регистрация</a>
			<div style="clear:both"></div><br><br>
    </div>        

    </div>
    
    
    <div class="adv h">
        <div class="logo">
            <img src="/static/img/nd_logo.jpg" alt="Новый день - Благотворительный фонд">
        </div>
        <div class="ad"></div>
        <div class="ad"></div>
        <div class="ad"></div>
        <div class="ad"></div>
        <div class="ad"></div>
    </div>
    </div>

{% endblock %}