{% extends "imprisonment_base.html" %}

{% block title %}{{ username }}{% endblock %}

{% block head %}Друзья и ходки пользователя {{ username }}{% endblock %}

{% block extra_content %}
    {% ifequal user.username username %}
        {#    <a href="/friends/{{ username }}/">Посмотеть список своих друзей</a>#}
    {% else %}
        {% if is_friend %}
            <a href="/friends/{{ user.username }}/">Пользователь {{ username }} является Вашим другом</a>
        {% else %}
            <a href="/friend/add/{{ username }}/"
               onclick="return confirm('Вы хотите внести этого пользователя в список своих друзей?');">Добавить
                пользователя {{ username }} к списку своих друзей</a>
        {% endif %}
        - <a href="/friends/{{ username }}/">посмотреть список друзей пользователя {{ username }}</a>
    {% endifequal %}


    {% include "imprisonment_list_elements.html" %}
{% endblock %}
