{% extends "main.html" %}
{% block title %}Логин{% endblock %}

{% block head %}{% endblock %}

{% block content %}
<div class="content nul start">
	<div class="reg-form">
		<div class="title">
		    <h1>Вход</h1>
		</div>
		  {% if form.errors %}
		    <p>Введенные Вами логин и пароль неверны. Повторите попытку еще раз.</p>
		  {% endif %}
		<form method="post" action=".">
		   {% csrf_token %}
		      <p><label for="id_username"><strong>Логин:</strong></label><br />
		      {{ form.username }}</p>
		      <p><label for="id_password"><strong>Пароль:</strong></label><br />
		     {{ form.password }}</p>
		     <input type="hidden" name="next" value="/" />
		   <input type="submit" value=""  class="submit" />
		</form>
	</div>
</div>
{% endblock %}
