{% extends "main.html" %}

{% block content %}
<div class="content nul">
    <div class="reg-form">
        <div class="title">
            Регистрация
        </div>
		<form method="post" action=".">
		  {% csrf_token %}
		  {{ form.as_p }}
		  <input type="submit" class="submit" value=""/>
		</form>
    </div>
</div>
{% endblock %}
