{% extends "main.html" %}


{% block title %}Регистрация завершена{% endblock %}
{% block head %}
  Регистрация успешно завершена
{% endblock %}

{% block content %}
  Спасибо за то, что зарегистрировались.<br>
  Информация о Вас успешно сохранена в базе данных.<br>
  Теперь Вы можете <a href="/login/">войти</a> или вернуться на 
  <a href="/">главную страницу</a>.
{% endblock %}
