{% extends 'umessages/base_message.html' %}
{% load i18n umessages_tags %}
{% load url from future %}
{% load avatar_tags %}

{% block content_title %}<h2>Переписка с {{ recipient.username }}</h2>{% endblock %}

{% block left_menu %}
    {% include 'left_menu.html' %}
{% endblock %}

{% block content %}
    <div class="span7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>Написать сообщение</h5>
            </div>
            <div class="panel-body">
                <form action="" method="post" id="compose_message_form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-primary" type="submit" name="send" class="submit" value="Отправить"/>
                </form>
            </div>
        </div>
        <hr/>
        <div class="reg-form">
            <div class="stream">
                <div class="list msgs">
                    {% for message in message_list %}
                        <div class="item">
                            <div class="avatar">
                                {% avatar message.sender 50 %}
                            </div>
                            <div class="inf">
                                <div class="ut">
                                    <a href="/accounts/{{ message.sender.username }}/" title=""
                                       class="prof"></a>
                                </div>
                                <div class="name">{{ message.sender.profile.get_full_name }}</div>
                                <div class="text">{{ message.body }}</div>
                                <div class="dates">{{ message.sent_at }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="span3">
        <h4>Собеседники</h4>
        {% if recipient_list %}
            {% for message in recipient_list %}
                <div class="recipientlist">
                    {% if message.from_user == user %}
                        {% avatar message.to_user 50 %}
                        {% get_unread_message_count_between user and message.to_user as unread_between_count %}
                        {% if unread_between_count %}
                            <span class="badge badge-success">{{ unread_between_count }}</span>
                        {% endif %}

                        <div class="inf">
                            <div class="name"><a
                                    href="{% url 'userena_umessages_detail' message.to_user %}">{{ message.to_user.profile.get_full_name }}</a>
                            </div>
                            {% get_message_count_between user and message.to_user as unread_between_count %}
                            <div class="text">{{ unread_between_count }} сообщений</div>
                        </div>
                    {% else %}

                        {% avatar message.from_user 50 %}
                        {% get_unread_message_count_between user and message.from_user as unread_between_count %}
                        {% if unread_between_count %}
                            <span class="badge badge-success">{{ unread_between_count }}</span>
                        {% endif %}

                        <div class="inf">
                            <div class="ut">
                                <a href="/umessages/view/{{ message.from_user.username }}/" title=""
                                   class="mail"></a>
                                <a href="#" title="" class="prof"></a>
                            </div>
                            <div class="name"><a
                                    href="{% url 'userena_umessages_detail' message.from_user %}">{{ message.from_user.profile.get_full_name }}</a>
                            </div>
                            {% get_message_count_between user and message.from_user as unread_between_count %}
                            <div class="text">{{ unread_between_count }} сообщений</div>
                        </div>

                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            Собеседников нет
        {% endif %}
    </div>
{% endblock %}




