{% extends 'umessages/base_message.html' %}
{% load i18n %}
{% load url from future %}
{% load avatar_tags %}

{% block content_title %}<h2>{% trans "Compose" %}</h2>{% endblock %}
{% block content %}
    <div class="content nul start">
        <div class="reg-form">
            <div class="title">
                Написать сообщение
            </div>
            <form action="" method="post" id="compose_message_form">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="send" class="submit" value=""/>
            </form>
        </div>
    </div>
{% endblock %}
