{% extends 'umessages/base_message.html' %}
{% load i18n umessages_tags %}
{% load url from future %}
{% load avatar_tags %}

{% block content_title %}<h2>{% trans "Messages" %}</h2>{% endblock %}

{% block left_menu %}
    {% include 'left_menu.html' %}
{% endblock %}

{% block content %}
    <div class="span9">
        {% get_unread_message_count_for user as unread_message_count %}
        <div class="stream">
            <div class="list msgs">
                {% if unread_message_count == 0 %}
                    <p class="alert info">У вас нет новых сообщений</p>
                {% else %}
                    <p class="alert success">
                        {% blocktrans %}{{ unread_message_count }} new messages.{% endblocktrans %}</p>
                {% endif %}
                {% for message in message_list %}
                    <div class="item">
                        {% if message.from_user == user %}
                            <div class="avatar">
                                {% avatar message.to_user 50 %}
                            </div>
                            <div class="inf">
                                <div class="ut">
                                    <a href="/umessages/view/{{ message.to_user.username }}/" title=""
                                       class="mail"></a>
                                    <a href="/accounts/{{ message.to_user.username }}/" title=""
                                       class="prof"></a>
                                </div>
                                <div class="name"><a
                                        href="{% url 'userena_umessages_detail' message.to_user %}">{{ message.to_user.profile.get_full_name }}</a>
                                </div>
                                {% get_unread_message_count_between user and message.to_user as unread_between_count %}
                                <div class="text">{% blocktrans with message.latest_message as latest_message %}
                                    {{ latest_message }} ({{ unread_between_count }}
                                    new){% endblocktrans %}</div>
                                <div class="dates">{{ message.sent_at }}</div>
                            </div>
                        {% else %}
                            <div class="avatar">
                                {% avatar message.from_user 50 %}
                            </div>
                            <div class="inf">
                                <div class="ut">
                                    <a href="/umessages/view/{{ message.from_user.username }}/" title=""
                                       class="mail"></a>
                                    <a href="#" title="" class="prof"></a>
                                </div>
                                <div class="name"><a
                                        href="{% url 'userena_umessages_detail' message.from_user %}">{{ message.from_user.profile.get_full_name }}</a>
                                </div>
                                {% get_unread_message_count_between user and message.from_user as unread_between_count %}
                                <div class="text">{% blocktrans with message.latest_message as latest_message %}
                                    {{ latest_message }} ({{ unread_between_count }}
                                    new){% endblocktrans %}</div>
                                <div class="dates">{{ message.sent_at }}</div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
