{% extends "new_base.html" %}
{% load odnosidelci_avatar_tags %}
{% load profiles_extras %}

{% block meet_menu %}class="active"{% endblock %}

{% block left_menu %}
    {% include 'left_menu.html' %}
{% endblock %}

{% block content %}
    <div class="span6" style="padding-top: 20px">
        {% block extra_content %}
            {% if query %}
                {% for result in page.object_list %}
                    <div class="container">
                        <div class="row">
                            <div class="span2"><a href="/accounts/{{ result.object.user.username }}/" class="pull-left"
                                                  style="margin: 5px;">{% odnosidelci_avatar result.object.user 111 %}</a>
                            </div>
                            <div class="span4">
                                <blockquote>
                                    <p>
                                        {% if result.object.user.first_name or result.object.nickname or result.object.user.last_name %}
                                            <a href="/accounts/{{ result.object.user.username }}/">{{ result.object.user.first_name }}
                                                {% if result.object.nickname %}"{{ result.object.nickname }}
                                                    " {% endif %} {{ result.object.user.last_name }}</a>
                                        {% else %}
                                            <a href="/accounts/{{ result.object.user.username }}/">{{ result.object.user.username }}</a>
                                        {% endif %}
                                    </p>
                                    <small><cite title="Source Title">{{ result.object.get_place }} <i
                                            class="icon-map-marker"></i></cite>
                                    </small>
                                </blockquote>
                                <p>
                                    <i class="icon-gift"></i> {{ result.object.user.profile.birth_date }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr/>
                {% empty %}
                    <p class="alert warning">По Вашему запросу ничего не найдено</p>
                {% endfor %}

                {% if page.has_previous or page.has_next %}

                    <ul class="pager">
                        {% if page.has_previous %}
                            <li><a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">&larr; Предыдущая</a></li>
                        {% else %}
                            <li class="disabled"><a href="javascript: void(0)">&larr; Предыдущая</a></li>
                        {% endif %}
                        {% if page.has_next %}
                            <li><a href="?q={{ query }}&amp;page={{ page.next_page_number }}">Следующая &rarr;</a></li>
                        {% else %}
                            <li class="disabled"><a href="javascript: void(0)">Следующая &rarr;</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            {% else %}
                <p class="alert warning">По Вашему запросу ничего не найдено</p>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
