* {font-style: normal;}
body {
    background: url("/static/bootstrap/img/bbg.jpg") #fff no-repeat 50% 0;
    margin: 0;
    padding: 0 0 0 0;
    color: #343434;
}
html, body {
	width: 100%;
	height: 100%;
}
* html #container {
height: 100%;
}

#container {
position: relative;
margin: 0 auto;
min-height: 100%;
}

.content {padding-bottom: 15px;}

img {
    border: 0;
}

a {
    font-size: 1.083em;
    color: #ffa200;
}

.login .field {float: left; width: 167px;}

.login .field label {float: left; margin: 5px 5px 0 0;font: 12px Tahoma, Arial, Helvetica;}

.nul {
    margin: 0 auto;
	/* width: 920px; */
    overflow: hidden;
}
.clr {clear: both;}

.hero-unit {
	margin-top: 30px;
}

.head {
    position: relative;
    height: 80px;
    overflow: visible;
    z-index: 20;
}

.subhead {
    position: relative;
    height: 0px;
    overflow: visible;
    z-index: 10;

}

.subhead .my_nav {
    width: 100%;
    height: 8px;
    position: absolute;
	top: 1px;
}
.navbar-form {
	margin-top: 4px;
}
.nav li{
	margin-top: 4px;	
}

.search-query{
	margin-top: 4px;	
}

.head .logo {
    width: 133px;
    height: 99px;
    position: absolute;
    left: 2px;
    top: 2px;
}
.head .banner {
    height: 66px;
    width: 379px;
    background: url("/static/img/baner_bg.png");
    float: left;
    margin: 7px 0 0 145px;
}
.head .info {
    width: 346px;
    height: 58px;
    overflow: hidden;
    float: left;
    margin: 7px 0 0 10px;
    padding: 8px 0 0 0;
    font-size: 11px;
    color: #575757;
    font-style: italic;
}
.head .info p {
    margin-left: 150px;
	margin-right: 0;
}

.head .info a, .head .info i {
    color: #131313;
    font: 1em Tahoma;
    font-style: italic;
}
.my_nav {
    background: url("/static/bootstrap/img/nav.png") repeat-x 0 0;
}

.recipientlist img {
    width: 50px;
    height: 50px;
}
.recipientlist .inf {
	float: left;
}

.recipientlist img {
	float: left;
}

.recipientlist {
	height: 50px;
	margin-top: 5px;
	margin-bottom: 5px;
	clear: both;
}

.recipientlist .badge {
	margin-top: 30px;
	margin-left: -27px;
	float: left;
}

#footer {
    height: 46px;
	background: url("/static/bootstrap/img/nav_bg.png") repeat-x 0 0;
}

.index {
    display: block;
    width: 125px;
    height: 16px;
    float: left;
    margin: 20px 20px 0 10px;
    background: url("/static/bootstrap/img/text.png") no-repeat 0 0;
}
.my_nav .search {
    width: 348px;
    height: 25px;
    background: url("/static/img/sprite.png") no-repeat 0 0;
    float: left;
    margin: 15px 30px 0 20px;
    position: relative;
}
.my_nav .search.null {background: none;}
.my_nav .search input.word {
    border: 0;
    height: 20px;
    width: 313px;
    background: transparent;
    color: #a9a9a9;
    font-style: italic;
    padding: 3px 27px 2px 8px;
}
.my_nav .search input.button {
    border: 0;
    height: 14px;
    width: 14px;
    overflow: hidden;
    padding: 0;
    display: block;
    position: absolute;
    right: 6px;
    top: 6px;
    cursor: pointer;
    background: url("/static/img/sprite.png") no-repeat -348px 0;
}
.my_nav .sep {
    float: left;
    height: 20px;
    width: 2px;
    margin: 18px 0 0 0;
    background: url("/static/img/sprite.png") no-repeat -362px 0;
}
.my_nav .login {
    float: left;
    margin: 15px 0 0 10px;
    height: 25px;
    width: 385px;
    overflow: hidden;
}
.my_nav .login .sep {
    margin-top: 3px;
}
.my_nav .login a {
    font: 1em Arial, Tahoma, Helvetica;
    color: #2b2b2b;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 1px #fff;
    margin: 6px 12px 0 0;
    display: block;
    float: left;
}

.my_nav .login a:hover {position: relative; top: 1px; left: 1px;}

.my_nav .login a.new-tweet {
    width: 20px;
    height: 14px;
    background: url("/static/img/sprite.png") no-repeat -348px -34px;
}
.my_nav .login a.user {
    position: relative;
    margin: 6px 0 0 5px;
    padding: 0 15px 0 25px;
    text-shadow: 0 1px 1px #fff;
}
.my_nav .login a.user span.avatar {
    position: absolute;
    left: 0;
    top: -3px;
    display: block;
    height: 20px;
    width: 20px;
    background: url("/static/img/no_avatar_min.jpg") no-repeat 0 0;
}
.my_nav .login a.user span.arr {
    position: absolute;
    right: 4px;
    top: 6px;
    display: block;
    height: 4px;
    width: 7px;
    background: url("/static/img/sprite.png") no-repeat -348px -14px;
}
.my_nav .login input.button {

    display: block;

    border: 0;

    cursor: pointer;

    float: left;

    height: 12px;

    width: 34px;

    background: url("/static/img/text.png") no-repeat 0 -16px;

    margin: 8px 0 0 5px;

}

.my_nav .login input.lg {

    border: 0;

    margin: 0 5px 0 0;

    height: 20px;

    width: 93px;

    background: url("/static/img/sprite.png") transparent no-repeat 0 -25px;

    padding: 3px 8px 2px 8px;

    color: #a9a9a9;

    font-style: italic;
    display: block;
    float: left;

}

.navbar .divider-vertical {
  height: 50px;
}

.content .title h1 {

    color: #272727;

    font-size: 1.500em;

    font-weight: normal;

    margin: 11px 0 0 0;

    line-height: 19px;

}

.content .title span {
    font-style: italic;
    color: #575757;
    font-size: 1.167em;
}



.reg-form {
    margin: 20px 0 40px 0;
    position: relative;
    overflow: hidden;
}

.reg-form form > div > div {


}

.reg-form form > div {
    margin: 0 20px 10px 0;
}

.reg-form .title {
    font-size: 1.7em;
    color: #fea100;
    font-weight: bold;
    margin-right: 17px;
    line-height: 20px;
}

.reg-form .n {
    font-size: 5.3em;
    color: darkGray;
    font-weight: bold;
    line-height: 57px;
    margin: 1px 4px 0 0;
    font-family: Arial;
}

.reg-form .n.ok {
    color: #6cd465;
}

.reg-form .n.no {
    color: #f73e00;
}

.reg-form .n.f {
    width: 28px;
}

.reg-form label {
    display: block;
    color: #272727;
    font-size: 1.291em;
    margin-bottom: 2px;
    text-shadow: 0 1px #C4C4C5;
}

.reg-form input, .settings .v input {
    padding: 3px 8px 2px 8px;
    color: #575757;
    font-style: italic;
}

.reg-form input#pass, .reg-form input#rpass {
    border: 0;
    height: 24px;
    width: 180px;
    background: url("/static/img/sprite.png") no-repeat -0 -50px;
    margin: 0 0 10px 0;
}

.reg-form input#uname, .reg-form input#email {
    border: 0;
    height: 24px;
    width: 180px;
    background: url("/static/img/sprite.png") no-repeat 0 -50px;
}

.reg-form input.submit {
    display: block;
    border: 0;
    margin: 10px 0 0 -4px;
    padding: 0;
    cursor: pointer;
    height: 39px;
    width: 182px;
    background: url("/static/img/sprite.png") no-repeat 0 -79px;
}

.reg-form .alert {
    font-size: 1.333em;
    color: #ff440a;
    font-style: italic;
}

.adv .logo {
    float: left;
    height: 134px;
    width: 152px;
    text-align: center;
}

.adv.h > div.ad {
    height: 134px;
    width: 134px;
    background: #dddddd;
    overflow: hidden;
    float: left;
    margin: 0 6px;
}

.adv.v {
    float: left;
    margin: 26px 0 0 0;
}

.adv.v > div.ad {
    margin: 0 0 13px 0;
    height: 126px;
    width: 126px;
    background: #dddddd;
    overflow: hidden;
}



.content .main {
    width: 367px;
    float: left;
    margin: 26px 20px 50px 20px;
}

.content .main.forum{width: 740px;}

.content .main .profile {
    padding-bottom: 20px;
    border-bottom: 1px solid #E4E5E6;
}

.content .main .profile .avatar {
    background: url("/static/img/no_avatar.jpg") no-repeat 0 0;
    height: 128px;
    width: 128px;
    float: left;
    margin: 0 20px 0 0;
}

.content .main .profile .avatar img {
    height: 128px;
    width: 128px;
}

.content .main .profile .info {
    height: 128px;
    position: relative;
}

.content .main .profile .info .name, #djangoForumBody h1 {
    font-size: 2.000em; font-weight: normal;
    line-height: 2em;
    color: #383838;
    text-shadow: 0 1px 1px white;
    margin: 0; 
}

.content .main .profile .info .location {
    font-size: 1.083em;
    line-height: 1.083em;
    color: #383838;
}

.content .main .profile .info .status {
    font: 1.333em "Georgia";
    color: #777;
    font-style: italic;
    height: 36px;
    overflow: hidden;
    margin: 14px 0 17px;
}

.content a.msg {
    height: 15px;
    width: 16px;
    overflow: hidden;
    background: url("/static/img/sprite.png") no-repeat -348px -20px;
}

.content .main .profile .info .msg {
    position: absolute;
    top: 15px;
    right: 15px;
}



.content .dashboard {
    float: left;
    width: 402px;
    background: url("/static/img/db_bg.png") no-repeat 0 24px;
    margin: -5px 0 0 -15px;
}

.content .dashboard .oh {

}

.content .dashboard .db-arr {
    height: 24px;
    background: url("/static/img/db_bg_t.png") no-repeat;
}

.content .dashboard .db-arr.ad {
    background-position: 0 0;
}

.content .dashboard .db-arr.zn {
    background-position: 0 -24px;
}

.content .dashboard .db-arr.pr {
    background-position: 0 -48px;
}

.content .dashboard .add, .content .dashboard .pickup, .content .dashboard .profile {
    margin-top: 15px !important;
    overflow: hidden;
}

.content .dashboard .clr {
    border-bottom: 1px solid #e8e8e8;
}

.content .dashboard .add .logo, .content .dashboard .pickup .logo, .content .dashboard .profile .logo {
    float: left;
    margin: 0 0 0 -5px;
    width: 97px;
    text-align: right;
}

.content .dashboard .add label, .content .dashboard .pickup label {
    font: 1.083em;
    color: #333;
    opacity: 0.8;
}

.content .dashboard .add .lb label, .content .dashboard .pickup .lb label {
    float: left;
}

.content .dashboard .add form, .content .dashboard .pickup .pc-form {
    margin: 0 0 5px 10px;
    float: left;
    width: 238px;
}

.content .dashboard .add form .lb a {
    float: right;
    font-size: 1.083em;
    line-height: 1.083em;
}

.content .dashboard .add .lb, .content .dashboard .pickup .lb {
    margin: 5px 0 4px;
    overflow: hidden;
}

.content .dashboard .pickup .select {
    margin-bottom: 10px;
}

.content .dashboard .add .place input, .content .dashboard .pickup .select input {
    border: 0;
    background: transparent;
    width: 204px;
    height: 20px;
    padding: 3px 26px 2px 8px;
}

.content .dashboard .add .place span, .content .dashboard .pickup .select span {
    position: absolute;
    top: 9px;
    right: 9px;
    height: 8px;
    width: 10px;
    background: url("/static/img/sprite.png") no-repeat -335px -28px;
    cursor: pointer;
}

.content .dashboard .add .from, .content .dashboard .add .to , .content .dashboard .add .place{

    text-align: right;

    margin: 0 0 12px 0;

}

.content .dashboard .add .from input, .content .dashboard .add .to input {
    width: 96px;
    height: 20px;
    padding: 3px 8px 2px 8px;
    background: url("/static/img/sprite.png") no-repeat -238px -118px;
    border: 0;
}

.content .dashboard .add .submit, .content .dashboard .pickup .submit, .modal .add-friend input.submit {
    height: 29px;
    width: 114px;
    float: right;
    background: url("/static/img/sprite.png") no-repeat -237px -89px;
    border: 0;
    cursor: pointer;
    font-size: 1em;
    text-shadow: 0 1px 1px #f7e497;
}

.content .dashboard .pickup .submit {
    float: left;
    width: 132px;
    background-position: 0 -158px;
}

.content .dashboard .mod {
    width: 340px;
    margin: 0 31px 14px 31px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 14px;
}

.content .mod .title h3 {
    font: 1.333em Arial, Tahoma, Helvetica;
    text-transform: uppercase;
    color: #423c32;
    font-weight: bold;
    display: inline-block;
    margin: 0 3px 0 0;
    opacity: 0.8;
    float: left;
}

.content .mod .title span {
    font-size: 1.083em;
    color: #ff9d02;
    font-style: normal;
    opacity: 0.8;
    float: left;
}

.content .mod .title {
    overflow: hidden;
}

.content .mod .title a {
    float: right;
}

.content .dashboard .contacts .list {
    width: 340px;
    height: 83px;
    margin: 5px 0 0 0;
}

.content .dashboard .contacts .item {
    height: 83px;
    width: 83px;
    float: left;
    margin: 0 1px;
    background: #666;
}

.content .dashboard .pickup .about-me {
    position: relative;
    padding: 2px 0 3px 0;
    margin: 13px 2px 0;
}

.content .dashboard .pickup .about-me .c {
    background: #e9e9e9;
    padding: 8px 7px 11px;
    overflow: hidden;
}

.content .dashboard .pickup .about-me .t {
    width: 336px;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    background: url("/static/img/sprite.png") no-repeat 0 -144px;
}

.content .dashboard .pickup .about-me .b {
    width: 336px;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url("/static/img/sprite.png") no-repeat 0 -146px;
}

.content .dashboard .pickup .about-me .text {
    padding: 3px 0 4px 0;
    width: 322px;
    position: relative;
}

.content .dashboard .pickup .about-me .text textarea {
    border: 0;
    width: 300px;
    height: 19px;
    margin: -1px -2px -1px 2px;
    resize: vertical;
    background:  transparent;
    font: italic 1.482em 'Times New Roman';
    color: #999;
    padding: 5px 9px;
    overflow: hidden;
}

.content .dashboard .pickup .about-me .clr {
    margin: 4px 2px 12px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #dfdfdf;
}

.content .dashboard .pickup .about-me .text .tc {
    width: 322px;
    background: url("/static/img/am_bg.png") repeat-y 0 0;
}

.content .dashboard .pickup .about-me .text .tt {
    width: 322px;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    background: url("/static/img/sprite.png") no-repeat 0 -150px;
}

.content .dashboard .pickup .about-me .text .tb {
    width: 322px;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url("/static/img/sprite.png") no-repeat 0 -153px;
}

.content .dashboard .friends .list {
    margin-top: 15px;
}

.content .dashboard .friends .item {
    height: 32px;
    overflow: hidden;
    margin: 13px 0 0;
}

.content .dashboard .friends .item .avatar {
    height: 32px;
    width: 32px;
    float: left;
    background: #666;
    margin: 0 6px 0 0;
}
.content .dashboard .friends .item .name {
    display: inline-block;
}
.content .dashboard .friends .item .name a {
    color: #423c32;
    font-weight: bold;
    text-decoration: none;
    float: left;
}

.content .dashboard .friends .item .status {
    color: #423c32;
    font: 0.923em Georgia;
    font-style: italic;
    margin-top: -1px;
    opacity: 0.6;
}

.content .dashboard .friends .item .name .msg {
    margin: 3px 0 0 5px;
    float: left;
}



.content .dashboard .profile .pc-form {
    text-align: right;
}

.content .dashboard .profile .pc-form a {
    display: block;
    color: #666;
    text-decoration: none;
}
.content .dashboard .profile .pc-form a:hover {color: #FFA200;}

.content .dashboard .profile .pc-form a.act {
    color: #ee8600;
    opacity: 0.8;
}

.content .dashboard .footer.mod {
    border-bottom: 0;
}

.content .dashboard .footer a {
    font-size: 0.917em;
    text-decoration: none;
    margin-right: 3px;
}

.content .dashboard .footer span {
    display: inline-block;
    font-size: 0.917em;
    color: #423c32;
    margin-left: 4px;
    opacity: 0.6;
}

.content .main .mod {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 14px;
    overflow: hidden;
}
.content .main .photos  {
    margin: 10px 0 0 0;
}
.content .main .photos .list {
    margin: 15px 1px 0 1px;
}
.content .main .photos .list .item {
    height: 24px;
    width: 24px;
    float: left;
    overflow: hidden;
    margin: 1px;
    background: #666;
}

.stream {
    margin: 15px 0 0 0;
}
.stream .tabs {
    border-bottom: 1px solid #dedede;
    height: 30px;
}
.stream .tabs .tab {
    float: left;
    font: 0.917em Arial, Tahoma;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}

.stream .tabs .tab:first-child {
    margin-left: 8px;
}

.stream .tabs .tab .r, .stream .tabs .tab .l {
    position: absolute;
    height: 31px;
    width: 0;
    overflow: hidden;
    top: 0;
    background: url("/static/img/sprite.png") #fff no-repeat -189px -82px;
}

.stream .tabs .tab.act {
    cursor: default;
}

.stream .tabs .tab.act .l {
    width: 3px;
    left: 0;
    background-position: -185px -82px;
}

.stream .tabs .tab.act .r {
    width: 3px;
    right: 0;
    background-position: -188px -82px;
}

.stream .tabs .tab .c {
    padding: 10px 7px 7px;
    margin: 0 3px;
    border-top: 1px solid transparent;
    text-align: center;
    overflow: hidden;
}

.stream .tabs .tab.act .c {
    border-color: #dedede !important;
    padding: 10px 15px 7px;
    background: #fff;
}

.stream .tabs .tab span {
    opacity: 0.8;
}

.stream .tabs .tab span i, .stream .tabs .tab.act span {
    color: #fe8f00;
    font-style: normal;
}



.stream .list {
    clear: both;
}

.stream .list .item {
    margin: 15px 0 0 0;
    padding: 0 0 15px;
    border-bottom: 1px solid #dedede;
    overflow: hidden;
    position: relative;
}

.stream .list.places .item .name, .stream .list.guests .item .name, .stream .list.msgs .item .name {
    font-size: 1.083em;
    color: #333;
    opacity: 0.55;
    font-weight: bold;
    margin: 0 8px 5px;
}

.stream .list.places .item .ut {
    overflow: hidden;
    text-align: left;
    margin: 0 8px;
}

.stream .list.places .item .ut .l {
    display: inline-block;
    float: left;
}

.stream .list.places .item .ut .r {
    float: right;
    display: inline-block;
}

.stream .list.places .item .ut span, .stream .list.guests .item .inf .dates, .stream .list.msgs .item .inf .dates {
    color: #999;
    margin: 5px 0 0 0;
    display: inline-block;
    font-size: 0.917em;
}

.stream .list.places .item .ut a {
    margin-left: 5px;
}

.stream .list.guests .item .avatar, .stream .list.msgs .item .avatar {
    width: 48px;
    height: 48px;
    background: #666;
    overflow: hidden;
    float: left;
}

.stream .list.guests .item .avatar img {
    width: 48px;
    height: 48px;
}

.stream .list.guests .item .inf, .stream .list.msgs .item .inf {
    float: left;
    width: 200px;
    height: 48px;
    overflow: hidden;
    margin: 0 9px;
}

.stream .list.guests .item .inf .name, .stream .list.msgs .item .inf .name {
    margin: 0 0 3px 0;
    line-height: 0.750em;
}

.stream .list.guests .item .ut {
    float: right;
    height: 48px;
    text-align: right;
}

.stream .list.guests .item .ut a {
    display: block;
    line-height: 16px;
}



.stream .list.msgs .item {
    padding-top: 4px;
}

.stream .list.msgs .item .inf {
    width: 300px;
    height: auto;
}
.forum .stream .list.msgs .item .inf{width: 700px;}

.stream .list.msgs .item .inf .name {
    width: 200px;
    line-height: 1em;
}
.forum .stream .list.msgs .item .inf .name {width: 700px; font-size: 16px;}

.stream .list.msgs .item .inf .text {
    font: italic 1.333em 'Times New Roman';
    color: #000;
}

.stream .list.msgs .item .ut {
    position: absolute;
    right: 4px;
    top: -2px;
    display: none;
}

.stream .list.msgs .item:hover .ut {
    display: block;
}

.stream .list.msgs .item .ut a {
    height: 22px;
    width: 30px;
    background: url("/static/img/sprite.png") no-repeat;
    display: block;
    float: left;
}

.stream .list.msgs .item .ut a.prof {
    background-position: -146px -26px;
    margin: 0 0 0 1px;
}

.stream .list.msgs .item .ut a.mail {
    background-position: -176px -26px;
}

.stream .list.msgs .item .inf .dates {
    margin: 0;
}

.stream .list.msgs .reitem {
    border-top: 1px solid #DEDEDE;
    overflow: hidden;
    clear:  both;
    margin: 10px 0 0 57px;
    padding: 10px 0 0 0;
}

.stream .list.msgs .reitem .inf {
    width: 243px;
}



.settings {
    position: relative;
    width: 367px;
    overflow: hidden;
    margin: 14px 0 0 0;
}

.settings .t {
    height: 3px;
    width: 367px;
    position: absolute;
    top: 0;
    left: 0;
    background: url("/static/img/sprite.png") no-repeat -1px -191px;
}

.settings .b {
    height: 4px;
    width: 367px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url("/static/img/sprite.png") no-repeat -1px -194px;
}

.settings .c {
    margin: 3px 0 4px 0;
    padding: 0 9px 15px;
    background: #E9E9E9;
    overflow: hidden;
}



.settings .clr, #add .clr {
    margin: 4px 2px 12px;
    border-bottom: 1px solid white;
    border-top: 1px solid #DFDFDF;
}



.settings .c .title h3, #add h2 {
    margin: 7px 5px;
    text-transform: uppercase;
    color: #423c32;
    opacity: 0.8;
    font-size: 1.333em;
}

.settings .c .title a.ur {
    display: block;
    height: 16px;
    width: 16px;
    background: url("/static/img/sprite.png") no-repeat -253px -28px;
    position: absolute;
    right: 16px;
    top: 14px;
}

.settings .a {
    overflow: hidden;
    clear: both;
    margin: 0 0 10px 0;
}

.settings .a .btn, .settings input.submit, .settings .v a.g, .reg a.g, .dashboard a.g  {
    border: 0;
    float: left;
    height: 29px;
    width: 202px;
    line-height: 29px;
    text-align: center;
    background: url("/static/img/sprite.png") no-repeat -134px -158px;
    text-shadow: 0 1px 1px #F7E497;
    color: #010000;
    font-size: 1.083em;
    font-style: normal;
    cursor: pointer;
    margin-left: 4px;
    text-decoration: none;
}
.adv {clear: both;}
.content.start .title.main {margin-left: 0; width: 510px}

.settings .a .ind {
    float: right;
    line-height: 29px;
    color: #393939;
    font-size: 1.148em;
    margin-right: 4px;
}

.settings .checkbox, .modal .checkbox {
    height: 22px;
    overflow: hidden;
    margin: 0 0 6px 0;
}

.settings .checkbox span, .modal .checkbox span {
    display: block;
    line-height: 22px;
    float: left;
    margin-left: 9px;
    color: #010000;
    font-size: 1.167em;
}

.settings .checkbox .check, .modal .checkbox .check {
    height: 22px;
    width: 21px;
    float: left;
    background: url("/static/img/sprite.png") no-repeat -207px -26px;
    margin-left: 7px;
}

.settings .checkbox .check input, .modal .checkbox .check input {display: none;}

.settings .checkbox div.chckd, .modal .checkbox div.chckd {
    background-position: -228px -26px;
}

.settings.profile {
    padding-bottom: 0 !important;
    border-bottom: 0 !important;
}

.settings .v {
    overflow: hidden;
    margin-bottom: 9px;
}

.settings .v label {
    font-size: 1.124em;
    line-height: 35px;
    margin-left: 7px;
    float: left;
}

.settings .v input {
    float: right;
    border: 0;
    height: 30px;
    width: 188px;
    background: url("/static/img/sprite.png") no-repeat 0 -200px;

}

.settings .v span {
    display: block;
    float: right;
    width: 201px;
    height: 35px;
    line-height: 35px;
    text-align: left;
    padding-left: 1px;
}

.settings .v a.g{
    clear: both;
    text-decoration: none;
    float: right;
    margin-right: 1px;
}

.settings.profile .img {
    width: 111px;
    height: 111px;
    overflow: hidden;
    margin: 0 0 0 13px;
    float: left;
}

.settings.profile .img img {
    width: 111px;
}

.settings.profile .v.r {
    width: 203px;
    float: right;
}

.settings.profile .v.r input.f {
    margin: 9px 0;
}

.settings.profile .v.r input.newavatar {

    background: transparent !important;

    padding: 0 2px 0 0;

    width: 200px;

    margin-bottom: 5px;

    margin-top: 5px;

    font-size: 13px;

}

.settings.profile .v.photo a.g {

    margin-top: 9px;

}

.settings.profile .v.photo a.s{

    width: 109px;

    height: 29px;

    background-position: -206px -204px;

    float: left;

    margin: 3px 0 0 5px;

}

.settings.profile .i.im {

    overflow: hidden;

    padding: 0 4px;

}

.settings.profile .i.im .item {

    width: 83px;

    float: left;

    text-align: center;

    margin: 1px 1px 10px 1px;

}

.settings.profile .i.im .item .i {

    height: 83px;

    width: 83px;

    display: block;

    background: #666666;

}

.settings.profile .i.im .item .d {

    color: #317ea8;

}



.modal {

    position: absolute;

    overflow: hidden;

    margin: 100px -250px 0;

    top: 100px;

    left: 50%;

    z-index: 999;

}

.modal .t {

    position: absolute;

    top: 0;

    left: 1px;

    height: 32px;

    background: url("/static/img/modal_sprite.png") no-repeat 0 0;

    overflow: hidden;

    width: 551px;

}

.modal .b {

    height: 30px;

    background: url("/static/img/modal_sprite.png") no-repeat 0 -32px;

    overflow: hidden;

    position: absolute;

    width: 551px;

    bottom: 0;

    left: 1px;

}

.modal .c {

    background: url("/static/img/modal_bg.png") repeat-y 1px 0;

    overflow: hidden;

    margin: 32px 0 30px 0;

    width: 511px;

    padding: 0 20px;

}

.modal .add-place {



    overflow: hidden;

}

.modal h3 {

    margin: 5px 0 15px 19px;

    text-transform: uppercase;

    font-size: 1.167em;

    color: #4f4f4f;

    position: relative;

}

.modal h3 a {

    display: block;

    position: absolute;

    right: 19px;

    top: 2px;

    height: 16px;

    width: 16px;

    background: url("/static/img/sprite.png") -273px -28px;

}

.modal .add-place .a {

    overflow: hidden;

    margin-bottom: 12px;

}

.modal .add-place .a label {

    float: left;

    color: #010000;

    font-size: 1.124em;

    line-height: 35px;

    margin-left: 19px;

}

.modal .add-place .a input {

    line-height: 35px;

    float: right;

    height: 35px;

    width: 263px;

    padding: 0 8px;

    font: italic 1.482em 'Times New Roman';

    color: #999;

    border: 0;

    background: url("/static/img/sprite.png") 0 -245px;

    margin-right: 29px;

}

.modal .add-place .text {

    float: right;

    margin-right: 29px;

    padding: 3px 0 4px 0;

    width: 279px;

    position: relative;

}

.modal .add-place .text .tt {

    width: 279px;

    height: 3px;

    position: absolute;

    top: 0;

    left: 0;

    background: url("/static/img/sprite.png") no-repeat 0 -237px;

}

.modal .add-place .text .tc {

    width: 279px;

    background: url("/static/img/mad_bg.png") repeat-y 0 0;

}

.modal .add-place .text textarea {

    border: 0;

    width: 257px;

    height: 19px;

    margin: -1px -2px -1px 2px;

    resize: vertical;

    background: transparent;

    font: italic 1.482em 'Times New Roman';

    color: #999;

    padding: 5px 9px;

    overflow: hidden;

}

.modal .add-place .text .tb {

    width: 279px;

    height: 4px;

    position: absolute;

    bottom: 0;

    left: 0;

    background: url("/static/img/sprite.png") no-repeat 0 -240px;

}

.modal .add-place input.submit {

    height: 29px;

    width: 279px;

    float: right;

    margin-right: 29px;

    margin-bottom: 24px;

    line-height: 29px;

    border: 0;

    background: url("/static/img/sprite.png") no-repeat 0 -283px;

}



.modal .add-friend .i img {

    height: 48px;

    width: 48px;

    float: left;

    margin-left: 19px;

    margin-right: 10px;

}

.modal .add-friend .i .name {

    color: #333;

    font-weight: bold;

    display: block;

    opacity: 0.55;

    line-height: 1.3em;

}

.modal .add-friend .i .from {

    color: #000;

    font-style: italic;

    font-family: 'Times New Roman';

    font-size: 1.333em;

    display: block;

    line-height: 1.3em;

}

.modal .add-friend .i .date {

    color: #999;

    font-size: 0.917em;

    display: block;

}

.modal .add-friend .hi {

    position: relative;

    padding: 2px 0 3px 0;

    margin: 13px 0 5px 19px;

}

.modal .add-friend .hi .tt {

    width: 474px;

    height: 2px;

    position: absolute;

    top: 0;

    left: 0;

    background: url("/static/img/mfr_tbg.png") no-repeat 0 0;

}

.modal .add-friend .hi .cc {

    background: #E9E9E9;

    padding: 8px 7px 11px;

    overflow: hidden;

    width: 460px;

}

.modal .add-friend .hi .text {

    padding: 3px 0 4px 0;

    width: 322px;

    position: relative;

}

.modal .add-friend .hi .text .ttt {

    width: 457px;

    height: 3px;

    position: absolute;

    top: 0;

    left: 0;

    background: url("/static/img/mfr_t_tbg.png") no-repeat 0 0;

}

.modal .add-friend .hi .text .tc {

    width: 457px;

    background: url("/static/img/mfr_t_bg.png") repeat-y 0 0;

}

.modal .add-friend .hi .text textarea {

    border: 0;

    width: 435px;

    height: 19px;

    margin: -1px -2px -1px 2px;

    resize: vertical;

    background: transparent;

    font: italic 1.482em 'Times New Roman';

    color:  #999;

    padding: 5px 9px;

    overflow: hidden;

}

.modal .add-friend .hi .text .tb {

    width: 457px;

    height: 4px;

    position: absolute;

    bottom: 0;

    left: 0;

    background: url("/static/img/mfr_t_tbg.png") no-repeat 0 -3px;

}

.modal .add-friend .hi .bb {

    width: 474px;

    height: 3px;

    position: absolute;

    bottom: 0;

    left: 0;

    background: url("/static/img/mfr_tbg.png") no-repeat 0 -2px;

}

.modal .add-friend .hi .clr {

    border-bottom: 1px solid white;

    border-top: 1px solid #DFDFDF;

    margin: 5px 4px 10px 2px;

}

.modal .add-friend input.submit {

    float: left;

    width: 132px;

    background-position: 0 -158px;

}

.modal .present .l {

    float: left;

    width: 300px;

    margin: 0 0 0 9px;

}

.modal .present .l .item {

    width: 100px;

    height: 95px;

    float: left;

}

.modal .present .sep {

    float: left;

    height: 170px;

    border-left: 1px solid

    #CCC;

    margin: 10px;

}

.modal .present input.submit {

    height: 29px;

    width: 279px;

    margin: 15px 0 10px 115px;

    line-height: 29px;

    border: 0;

    background: url("/static/img/sprite.png") no-repeat 0 -283px;

}



.style-form-box .select {

    position: relative;

    text-align: right;

}

.style-form-box .select .show {

    border: 0;

    cursor: pointer;

    margin: 0;

    padding: 1px 23px 1px 18px;

    line-height: 25px;

    background: url("/static/img/sprite.png") no-repeat 0 -314px;

    width: 197px;

    height: 25px;

}

.style-form-box .select .options {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 236px;
    padding: 0 0 5px 0;
    background: #e6eef1;
    border: 1px solid #d2d9dc;
    z-index: 50;
}
.style-form-box .select .options .sh {
    line-height: 25px;
    padding: 0 23px 0 18px;
    cursor: pointer;
    background: url("/static/img/arr.png") no-repeat 98% 9px;
}

.style-form-box .select .options .option {
    cursor: pointer;
    padding: 3px 23px 3px 18px;
}

.style-form-box .select .options .option:hover {
    background: #d2d9dc;
}

input.addphoto {
    background: transparent !important;
    width: 328px !important;
}
#footer {
	position: relative;
	margin: 0 auto 0;
}
.empty {
height: 53px;
}

.block li {
   list-style: none;
   float: left;
}

.block {
   clear: both;
}
