table#djangoForumList, table#djangoForumThreadList, table#djangoForumThreadPosts {width: 100%; padding: 0; border-collapse: collapse; border-spacing: 0;}
td.djangoForumListDetails {width: 70%;}
td, th {text-align: left; border-bottom: 1px solid #DEDEDE; padding: 5px 5px 5px 0;}
td p {padding: 0; margin: 0;}
.djangoForumStats, .djangoForumListLastPost {font-size: 80%; font-style: italic;}
#djangoForumThreadList + ul, #djangoForumThreadPosts + ul {display: block;float: right; width: 100%; text-align: right;}
li.djangoForumPagination {list-style: none; margin: 0; padding: 0; display: inline;}
th.djangoForumThreadPostDetail {width: 20%;}
#djangoForumThreadList th {font-size: 90%; color: #505050;}
#djangoForumThreadList td {font-size: 80%; font-style: italic;}
#add {background:#E9E9E9; border-radius:4px; clear:both; padding: 5px;}
#add input[type="text"] {background: url("../img/sprite.png") no-repeat 0 -200px;border: 0;height: 30px;width: 188px;padding: 3px 8px 2px 8px;
color: #575757;
font-style: italic;
font-size: 1.333em;}
#add input[type="submit"] {
border: 0;height: 29px;width: 202px;
line-height: 29px;text-align: 
center;background: url("../img/sprite.png") no-repeat -134px -158px;
text-shadow: 0 1px 1px #F7E497;
color: #010000;
font-size: 1.083em;
font-style: normal;
cursor: pointer;
margin-left: 4px;}
#add textarea	{width: 100%; height: 70px;}
.djangoForumThreadPostDetail {font-size: 80%; color:#505050; font-weight: normal;}
.djangoForumThreadPostDetail strong {font-weight: bold;}