{% extends "new_base.html" %}
{% load i18n avatar_tags %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="span12">
    <h1>Текущая аватарка:</h1>
    {% avatar user %}
    {% if not avatars %}
        <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
    {% endif %}
    <form enctype="multipart/form-data" method="POST" action="{% url avatar_add %}">
        {{ upload_avatar_form.as_p }}
        <p>{% csrf_token %}<input type="submit"  class="btn btn-primary" value="Загрузить"/></p>
    </form>
</div></div></div>
{% endblock %}
