{% extends "new_base.html" %}
{% load i18n avatar_tags %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="span12">

		<h1>
		    Фотография по умолчанию:
		</h1>
    {% avatar user %}
    {% if not avatars %}
        <p>Вы пока не загрузили фотографии</p>
    {% else %}
        <form method="POST" action="{% url avatar_change %}">
            <ul class="block">
                {{ primary_avatar_form.as_ul }}
            </ul>
            <p style="clear:both;">{% csrf_token %}<input type="submit"  class="btn btn-primary" value="Установить по умолчанию" /></p>
        </form>
    {% endif %}
    <form enctype="multipart/form-data" method="POST" action="{% url avatar_add %}">
        {{ upload_avatar_form.as_p }}
        <p>{% csrf_token %}<input type="submit"  class="btn btn-primary" value="Загрузить фото" /></p>
    </form>
</div>
</div>
</div>
{% endblock %}
