{% extends "new_base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="span12">
    <h1>Выберите фото для удаления</h1>
    {% if not avatars %}
        {% url avatar_change as avatar_change_url %}
        <p>{% blocktrans %}You have no avatars to delete. Please <a href="{{ avatar_change_url }}">upload one</a> now.{% endblocktrans %}</p>
    {% else %}
        <form method="POST" action="{% url avatar_delete %}">
            <ul class="block">
                {{ delete_avatar_form.as_ul }}
            </ul>
            <p style="clear:both;">{% csrf_token %}<input type="submit"  class="btn btn-primary" value="Удалить выбранные" /></p>
        </form>
    {% endif %}
</div></div></div>
{% endblock %}
