{% extends 'umessages/base_message.html' %}
{% load i18n %}

{% block content_title %}<h2>Переписка с {{ recipient.username }}</h2>{% endblock %}

{% block content %}

<ul>
{% for message in message_list %}
<li>
  {{ message }}
  <p>{% with message.sent_at as sent_at %}Получено {{ sent_at }}{% endwith %}</p>
</li>
{% endfor %}
</ul>
{% endblock %}
