{% load i18n %}
{% load common_tags %}
<html>
<head>
    <title>{% block title %}Форум | Односидельцы{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="description" content="Общайтесь с односидельцами. Заводите новые знакомства на форуме.">

    {% get_canonical request %}

    <link rel="alternate" type="application/rss+xml" title="{% trans "All Latest Posts via RSS" %}"
          href="{% url forum_index %}rss/"/>
    <link rel="alternate" type="application/atom+xml" title="{% trans "All Latest Posts via ATOM" %}"
          href="{% url forum_index %}atom/"/>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap-dropdown.js"></script>
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    {% block extrahead %}{% endblock %}
</head>
<style type='text/css'><!--
{#body {#}
{#    font-family: Verdana;#}
{#    font-size: 10px;#}
{#    text-align: center;#}
{
#}#}

#djangoForumBody {
    width: 90%;
    margin: 0 auto;
    text-align: left;
}

#djangoForumList,
#djangoForumThreadList,
#djangoForumThreadPosts {
    border-collapse: collapse;
    width: 100%;
}

#djangoForumList td,
#djangoForumThreadList td,
#djangoForumThreadPosts td {
    border: solid #777 1px;
    padding: 6px;
}

#djangoForumList .djangoForumListDetails {
    width: 70%;
}

#djangoForumList .djangoForumListDetails strong {
    font-size: 120%;
}

#djangoForumList .djangoForumListDetails .djangoForumStats {
    font-size: 80%;
}

.djangoForumListLastPost,
.djangoForumThreadLastPost {
    background-color: #ccc;
    border-bottom: solid #777 1px;
}

#djangoForumList th,
#djangoForumThreadList th,
#djangoForumThreadPosts th {
    background-color: #3a3;
    border: solid #777 1px;
    color: #fff;
    text-align: left;
    padding: 4px;
}

#djangoForumThreadPosts th {
    width: 20%;
}

#djangoForumBreadcrumbs {
    padding: 20px;
}

#djangoForumBody label {
    font-size: 110%;
    font-weight: bold;
    display: block;
    padding: 4px;
}

#djangoForumThreadPostDetail {
    width: 20%;
}

.djangoForumPagination {
    display: inline;
}

--></style>
<body>
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="/forum">Форум односидельцев</a>
        <ul class="nav">
            <li class="divider-vertical"></li>
        </ul>
        <ul class="nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Юрист онлайн<b
                        class="caret"></b></a>
                <ul class="dropdown-menu" style="width: 400px; padding-left: 5px;">
                    <li>
                        <table>
                            <tr>
                                <td>
                                    <img src="/static/Prokopec.png" class="img-rounded">
                                </td>
                                <td style="padding-left: 10px;">
                                    <table>
                                        <tr>
                                            <td>
                                                <strong>Прокопец Александр Николаевич</strong>

                                                <p class="muted">Старший юрист</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Тел.</strong> +38 (044) 219-18-17
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>e-mail:</strong> oprokopets@cpk.ua
                                            </td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="nav">
            <li class="divider-vertical"></li>
        </ul>
        {% if user.is_authenticated %}
            <ul class="nav pull-right">
                <li><a href="/logout/"><i class="icon-lock"></i> Выйти</a></li>
            </ul>
        {% else %}
            <ul class="nav pull-right">
                <li><a href="/accounts/signup/" rel="nofollow">Регистрация</a></li>
                <li class="divider-vertical"></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">Вход <strong
                            class="caret"></strong></a>

                    <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                        <form action="/accounts/signin/" method="post" accept-charset="UTF-8">
                            {% csrf_token %}
                            <input id="identification" style="margin-bottom: 15px; height: 30px;" type="text"
                                   name="identification" size="30" placeholder="Логин"/>
                            <input id="password" style="margin-bottom: 15px; height: 30px;" type="password"
                                   name="password"
                                   size="30" placeholder="Пароль"/>
                            <!--<input id="remember_me" style="margin-right: 10px;" type="checkbox" name="remember_me" value="1" />
                            <label class="string optional" for="remember_me">Запомнить на месяц</label>-->
                            <input class="btn btn-primary"
                                   style="clear: left; width: 100%; height: 32px; font-size: 13px;"
                                   type="submit" name="commit" value="Войти"/>
                        </form>
                    </div>
                </li>
            </ul>
        {% endif %}
    </div>

</div>
<div id='djangoForumBody'>
    {#    <h1>{% block pagetitle %}{% trans "Welcome to the Forums" %}{% endblock %}</h1>#}

    <ul class="breadcrumb" style="font-size: 14px;">
        <li><a href="/">Перейти на сайт</a> <span class="divider">/</span></li>
        <li><a href='{% url forum_index %}'>{% trans "Forums" %}</a></li>
        {% block breadcrumbs %}{% endblock %}
    </ul>

    {% block content %}{% endblock %}
</div>
</body>
</html>
