{% extends "forum_base.html" %}
{% load i18n %}

{% block title %}{{ forum.title }}{% endblock %}

{% block extrahead %}
    <link rel="alternate" type="application/rss+xml"
          title="{% blocktrans with forum.title as ftitle %}{{ ftitle }} Posts via RSS{% endblocktrans %}"
          href="{% url forum_index %}rss/{{ forum.slug }}/"/>
    <link rel="alternate" type="application/atom+xml"
          title="{% blocktrans with forum.title as ftitle %}{{ ftitle }} Posts via ATOM{% endblocktrans %}"
          href="{% url forum_index %}atom/{{ forum.slug }}/"/>
{% endblock %}

{% block pagetitle %}{{ forum.title }}{% endblock %}

{% block breadcrumbs %}
    {% for title, url in forum.get_url_name %}
        <li><span class="divider">/</span></li>
        <li><a href='{{ url }}'>{{ title }}</a></li>
    {% endfor %} ({{ forum.threads }} тем(ы),  {{ forum.posts }}
    сообщений)
{% endblock %}


{% block content %}

    {% if child_forums %}
        <table class="table table-striped table-bordered">
            <tr>
                <th>{# {% trans "Sub-Forum" %} #}Подфорум</th>
                <th>{% trans "Last Post" %}</th>
            </tr>

            {% for subforum in child_forums %}
                <tr>
                    <td class='djangoForumListDetails'><p><strong><a
                            href='{{ subforum.get_absolute_url }}'>{{ subforum.title }}</a></strong><br/><span
                            class='djangoForumStats'>{{ subforum.threads }} {# {% trans "thread" %}{{ subforum.threads|pluralize }} #} тем(ы), {{ subforum.posts }}
                        сообщений {# {% trans "post" %}{{ subforum.posts|pluralize }} #}</span></p>

                        <p>{{ subforum.description }}</p></td>
                    {% with subforum.forum_latest_post as latest_post %}
                        <td class=''>{% if latest_post %}
                            {% blocktrans with post.time|timesince as time and latest_post.author as author %}{{ time }}
                                назад от пользователя {{ author }}{% endblocktrans %} (
                            <a href='{{ latest_post.get_absolute_url }}'>{% trans "view" %}</a>){% else %}
                            {% trans "No Posts" %}{% endif %}</td>
                    {% endwith %}
                </tr>
            {% endfor %}
        </table>
        <br/>
    {% endif %}

    <table class="table table-striped table-bordered">

        <tr>
            <th>{% trans "Thread" %}</th>
            <th style='width: 50px;'>{% trans "Posts" %}</th>
            <th style='width: 50px;'>{% trans "Views" %}</th>
            <th style='width: 220px;'>{% trans "Last Post" %}</th>
        </tr>

        {% for t in thread_list %}
            <tr>
                <td>{% if t.sticky %}Sticky {% endif %}<a href='{{ t.get_absolute_url }}'>{{ t.title|escape }}</a>
                    {% if t.closed %} (Closed){% endif %}</td>
                <td style='width: 50px;'>{{ t.posts }}</td>
                <td style='width: 50px;'>{{ t.views }}</td>
                {% with t.thread_latest_post as latest_post %}
                    <td style='width: 220px;' class=''>
                        {% blocktrans with latest_post.time|timesince as time and latest_post.author as author %}
                            {{ time }} назад от пользователя {{ author }}{% endblocktrans %} (<a
                            href='{{ latest_post.get_absolute_url }}'>{% trans "view" %}</a>)
                    </td>
                {% endwith %}
            </tr>
        {% endfor %}
    </table>


    {% if is_paginated %}
        <div class="pagination pagination-centered pagination-large">
            <ul>
                {% if page == 1 %}
                    <li class="disabled"><a href="?page=1">&laquo;</a></li>
                {% else %}
                    <li><a href="?page=1">&laquo;</a></li>
                {% endif %}

                {% for page_number in paginator.page_range %}
                    {% if page == page_number %}
                        <li class="active"><a href="?page={{ page_number }}">{{ page_number }}</a></li>
                    {% else %}
                        <li><a href="?page={{ page_number }}">{{ page_number }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page == paginator.num_pages %}
                    <li class="disabled"><a href="?page={{ paginator.num_pages }}">&raquo;</a></li>
                {% else %}
                    <li><a href="?page={{ paginator.num_pages }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
<!--
    {% if user.is_authenticated %}
        <div class="panel panel-default">
            <div class="panel-heading" style="padding: 1px 15px;">
                <h5>Создать тему, пользователь <span>{{ user.username }}</span></h5>
            </div>
            <div class="panel-body">
                <form method='post' action='new/'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p><input class="btn btn-primary" type='submit' value='Создать'/></p>
                </form>
            </div>
        </div>

    {% else %}
        <p class="alert alert-success">Только зарегистрированные пользователи могут создавать темы.
<a href="/accounts/signin/" rel="nofollow">Войдите</a>, пожалуйста.</p>
    {% endif %}
-->

{% endblock %}
