{% extends "forum_base.html" %}
{% load i18n %}
{% load odnosidelci_avatar_tags %}
{% block title %}{{ thread.title|escape }} ({{ forum.title }}){% endblock %}

{% block pagetitle %}{{ forum.title }} &raquo; {{ thread.title|escape }}{% endblock %}


{% block breadcrumbs %}
    {% for title, url in thread.forum.get_url_name %}
        <li><span class="divider">/</span></li>
        <li><a href='{{ url }}'>{{ title }}</a></li>
    {% endfor %}
    <li><span class="divider">/</span></li>
    <li><a href='{{ thread.get_absolute_url }}'>{{ thread.title|escape }}</a></li>
    ({{ thread.posts }}
    {% blocktrans count thread.posts as counter %}post{% plural %}posts{% endblocktrans %}){% endblock %}

{% block content %}

    <table class="table table-striped table-bordered" id=''>
        {% for post in post_list %}

            <tr>
                <td id='post{{ post.id }}' style="width: 20%;">
                    {% odnosidelci_avatar post.author %}
                    <p>{% trans "by" %} <strong>{{ post.author }}</strong></p>

                    <p>{% blocktrans with post.time|timesince as time %}{{ time }} назад{% endblocktrans %}<br/></p>

                <td>{{ post.body_html|safe }}</td>
            </tr>{% endfor %}

    </table>



    {% if is_paginated %}
        <div class="pagination pagination-centered pagination-large">
            <ul>
                {% if page == 1 %}
                    <li class="disabled"><a href="?page=1">&laquo;</a></li>
                {% else %}
                    <li><a href="?page=1">&laquo;</a></li>
                {% endif %}

                {% for page_number in paginator.page_range %}
                    {% if page == page_number %}
                        <li class="active"><a href="?page={{ page_number }}">{{ page_number }}</a></li>
                    {% else %}
                        <li><a href="?page={{ page_number }}">{{ page_number }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page == paginator.num_pages %}
                    <li class="disabled"><a href="?page={{ paginator.num_pages }}">&raquo;</a></li>
                {% else %}
                    <li><a href="?page={{ paginator.num_pages }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}

    {% if request.user.is_authenticated %}<p>
        <a href="{% url forum_subscriptions %}?next={{ request.path }}">{% trans "Update Subscriptions" %}</a></p>
    {% endif %}
    {% if thread.closed %}
        <p>{% trans "Sorry, this thread is closed. No further replies are permitted." %}</p>
    {% else %}
    <!--
        {% if user.is_authenticated %}
            <div class="panel panel-default">
                <div class="panel-heading" style="padding: 1px 15px;">
                    <h5>Написать сообщение, пользователь <span>{{ user.username }}</span></h5>
                </div>
                <div class="panel-body">
                    <form method='post' action='reply/'>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn btn-primary" type='submit' value='{% trans "Submit" %}'/>
                    </form>
                </div>
            </div>
        {% else %}
            <p class="alert alert-success">Только зарегистрированные пользователи могут оставлять комментарии.
                <a href="/accounts/signin/" rel="nofollow">Войдите</a>, пожалуйста.</p>
        {% endif %}
      -->
    {% endif %}

{% endblock %}
