html { height: 100%; font-size: 62.5% }
body { height: 100%; background-color: #FFFFFF; font: 1.3em Verdana, Arial, Helvetica, sans-serif; }

a:link, a:visited {color: #2E6600; text-decoration: underline; font-weight: normal;}
a:hover {text-decoration: none;}


/* Backlinks - at the top */
.backlinks {margin: 25px 0 0 29px; margin-top: 25px; text-align: right;}
.backlinks a, .backlinks a:visited {font-weight: normal; color: #104973; margin-right: 10px;}



#content {margin:0 auto;}

ul.messages {
  border: 1px dashed #000;
  margin: 1em 4em;
  padding: 1em;
}

ul.errorlist {
  margin: 0;
  padding: 0;

}
.errorlist li {
   background-color: white;
   color: red;
   display: block;
   font-size: 14px;
   margin: 0 0 3px;
   padding: 4px 5px;
}



/*
#footer { margin-top: 2em; text-align: center;}
#footer input { display: inline;}
*/


/* Xodki */
ul.links {margin: 14px 0 37px 12px; list-style-type: none;}
ul.links li {margin-bottom: 6px; color: #4B4B4B; padding: 7px 0 3px 0; border-top: 1px dotted #ACACAC;}
ul.links li#last {border-bottom: 1px dotted gray; padding-bottom: 9px;}
ul.links li a, ul.links li a:visited {color: #2E6600; font-weight: normal;}


/* Friends */
#friend, p.info, p.info-small {background-color: #E8F7E6; border: 1px solid #2B6600;}
#friend {width: 74%; margin: 0 0 45px 2px;}
#friend-content {margin: 0 0.8em; padding: 0.8em 0; position: relative; /* zoom: 1; */}
#friend ul {list-style-type: square; list-style-position: inside;}
#friend ul li {margin-bottom: 7px;}
#friend ul li.last {margin-bottom: 0;}
#friend ul li span {font-size: 1.2em; color: #C12D00;}

/* Odnosideltsy */
#odnosid, p.info, p.info-small {background-color: #EFF7ED; border: 1px solid #2B6600;}
#odnosid {width: 74%; margin: 0 0 45px 2px;}
#odnosid-content {margin: 0 0.8em; padding: 0.8em 0; position: relative; /* zoom: 1; */}
#odnosid ul {list-style-type: square; list-style-position: inside;}
#odnosid ul li {margin-bottom: 7px;}
#odnosid ul li.last {margin-bottom: 0;}
#odnosid ul li span {font-size: 1.2em; color: #C12D00;}





/* Footer */
#footer {width: 830px; margin: 10px auto 0 auto; padding-bottom: 40px;}
#footer p {margin-bottom: 3px; font-size: 0.9em; color: #3A3A3A;}
#footer-text-center {float: center; text-align: center; margin: 13px 0 0 0; 
display: inline; /* It repairs Double-Float margin bug in browsers IE6- */
}
#footer-text-center a {font-weight: normal; padding: 1px 2px 1px 2px;}
#footer-text-center a:hover {background-color: #2E6600; color: #FFFFFF;}




/* ==================== Form style sheet ==================== */

form { margin: 25px 0 0 29px; width: 545px; padding-bottom: 30px }
form * { vertical-align: middle; }

fieldset { margin: 0 0 22px 0; border: 0; }
legend { font-size: 1.2em; color: #2E6600; font-weight: bold; }

label { float: left; display: block; width: 200px; margin-top: 4px; clear: left; }
label.choose { width: 162px; }
label.spam-protection { display: inline; width: auto; }

input.text, textarea, input.choose, input.answer { border: 1px solid #909090; padding: 3px; }
input.text { width: 300px; margin: 0 0 8px 0; }
textarea { width: 400px; margin: 0 0 12px 0; display: block; }

select { width: 300px; border: 1px solid #909090; padding: 2px;  margin: 0 0 8px 0; }

input.choose { margin: 0; }
input.answer { width: 40px; margin: 0 0 0 10px; }
input.submit { font: 1.2em Verdana, Arial, Helvetica, serif; letter-spacing: 1px; display: block; margin: 23px 0 0 0; }

hr.formik { height: 1px; color: gray; background-color: gray; border: 0 solid gray; margin: 3px 0 20px 0; }
form br { display: none; }

/* ==================== Form style sheet END ==================== */
