{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Email verification failed." %}{% endblock %}
{% block content_title %}<h2>{% trans "Your email could not be verified..." %}</h2>{% endblock %}

{% block content %}
<div class="container">
<div class="row">
  <div class="span12">

<p>{% trans "Your email could not be verified..." %}</p>
<p>{% trans "You could try changing it again in your account settings." %}</p>
</div>
</div>
</div>
{% endblock %}
