{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Password changed" %}{% endblock %}
{% block content_title %}<h2>{% trans "Your password has been changed" %}.</h2>{% endblock %}

{% block left_menu %}
    {% include 'left_menu.html' %}
{% endblock %}

{% block content %}
    <div class="span9">
        <p class="alert info">{% trans "From now on you can use your new password to signin" %}.</p>
    </div>
{% endblock %}
