{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<div class="container">
<div class="row">
  <div class="span12">
		    Сменить пароль

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
  <input type="submit" value="Сменить пароль" class="btn btn-primary" />
</form>
</div>
</div>
</div>
{% endblock %}
