{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content_title %}<h2>
    {% blocktrans with user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block left_menu %}
    {% include 'left_menu.html' %}
{% endblock %}

{% block content %}
    <div class="span6">

        <form action="" method="post" id="password_change_form">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Сменить пароль" class="btn btn-primary"/>

        </form>
    </div>

{% endblock %}
