{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Password reset email sent" %}{% endblock %}
{% block content_title %}<h2>{% trans "Password reset email sent" %}</h2>{% endblock %}

{% block content %}
<div class="container">
<div class="row">
  <div class="span12">
<p>{% trans "An e-mail has been sent to you which explains how to reset your password." %}</p>
</div>
</div>
</div>
{% endblock %}
