{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}
{% load avatar_tags %}

{% block title %}{% trans "Account setup" %}{% endblock %}

{% block content_title %}<h2>
    {% blocktrans with profile.user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}
    </h2>{% endblock %}

{% block left_menu %}
    {% include 'left_menu.html' %}
{% endblock %}

{% block content %}
    <div class="span4">
        <h3>Мой профиль</h3>

        <form action="." enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Сохранить"/>
        </form>
    </div>
    <!-- CENTER  -->
    <div class="span4">
        <h3>Фотографии</h3>

        <div style="overflow: hidden; margin-bottom: 15px;">
            <div class="img" style="margin:5px;">
                {% avatar user %}
            </div>
            <a class="btn" href="{% url 'avatar_change' %}">Изменить фото профиля</a>

            <div class="i im" style="margin:5px;">
                {% for avatar in user.avatar_set.all %}
                    <div style="float:left;margin-right:5px;">
                        {% render_avatar avatar 83 %}
                    </div>
                {% endfor %}
            </div>
            <div style="clear:both; margin:5px;"></div>

            <a class="btn" href="{% url 'avatar_delete' %}">Удалить фото</a>
            <a class="btn btn-primary" href="{% url 'avatar_add' %}">Добавить фото</a>
        </div>
    </div>
{% endblock %}
