{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}
{% load avatar_tags %}

{% block title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile.{% endblocktrans %}{% endblock %}
{% block content_title %}<h2>{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h2>{% endblock %}

{% block content %}

<div class="content nul">
    <div class="adv v">
        <div class="ad"></div>
        <div class="ad"></div>
        <div class="ad"></div>
        <div class="ad"></div>
        <div class="ad"></div>
    </div>
    <div class="main">
        <div class="profile">
            <div class="avatar">
                {% avatar profile.user 128 %}
            </div>
            <div class="info">
                <div class="name">{{profile.get_full_name}}</div>
                <div class="location">{{profile.get_place}}</div>
                <div class="status">{{profile.get_mood}}</div>
                <div class="url" style="clear:both"><a href="#"  title="profile url">{{profile.get_absolute_url}}</a></div>
                <a href="/umessages/view/{{profile.user.username}}/" class="msg" title="написать сообщение"></a>
            </div>
        </div>

        <div class="photos mod">
            <div class="title">
                <h3>Фотографии</h3>
            </div>
            <div class="list" id="gallery">
				{% for avatar in profile.user.avatar_set.all %}
                <div class="item">
                    <a href="{{ avatar.avatar.url }}">{% render_avatar avatar 24 %}</a>
                </div>
				{% endfor %}
            </div>
            <div class="clr"></div>
        </div>
</div>
<div class="dashboard">
    <div class="db-arr pr"></div>
    <div class="add profile mod">
        <div class="oh">
            <div class="logo">
                <img src="/static/img/nd_logo.jpg" alt="">
            </div>

            <div class="pc-form">
		        {% if user.username == profile.user.username %}
		        {% block profile_navigation_items %}
		          <a href="{% url 'userena_profile_detail' user.username %}">{% trans "View profile" %}</a>
		          <a href="{% url 'userena_profile_edit' user.username %}">{% trans "Edit details" %}</a>
		          <a href="{% url 'userena_password_change' user.username %}">{% trans "Change password" %}</a>
		          <a href="{% url 'userena_email_change' user.username %}">{% trans "Change email" %}</a>
                  <a href="" title="Настройки уведомлений" onclick="alert('Платная услуга')">Настройки уведомлений</a>
                  <a href="/vip/" title="VIP настройки" onclick="alert('Платная услуга')">VIP настройки</a>
		        {% endblock %}
				{% else %}
				<a href="/umessages/view/{{profile.user.username}}/">Написать сообщение</a>
			    {% if is_friend %}
			     
			    {% else %}
			      <a href="/friend/add/{{profile.user.username}}/" 
			      onclick="return confirm('Вы хотите внести этого пользователя в список своих друзей?');">Добавить в друзья</a> 
			    {% endif %}
				
		        {% endif %}
                
                <a href="/logout/" title="Выйти">Выйти</a>
            </div>
	</div>

	   </div>
	   {% if profile.user.friend_set.all %}
	<div class="friends mod">
	            <div class="title">
	                <h3>Друзья</h3>
	                <span></span>
	                <a href="/friends/{{profile.user.username}}/" title="">смотреть все</a>
	            </div>
	            <div class="list">
					{% for friend in profile.user.friend_set.all|slice:":10" %}
	                <div class="item">
	                    <div class="avatar">
							<a href="/accounts/{{friend.to_friend.username}}/">{% avatar friend.to_friend 32 %}</a>
	                    </div>
	                    <div class="name"><a href="/accounts/{{friend.to_friend.username}}/" title="">{{friend.to_friend.profile.get_full_name}}</a></div>
	                    <div class="status">{{friend.to_friend.profile.mood}}</div>
	                </div>
					{% endfor %}
	            </div>
    </div>
	{% endif %}
    </div>
</div>
{% endblock %}


