{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}
{% load avatar_tags %}
{% load odnosidelci_avatar_tags %}

{% block extra_head %}
    <link rel="stylesheet" href="/static/gallery/css/bootstrap-image-gallery.css">
{% endblock %}

{% block title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile.
{% endblocktrans %}{% endblock %}

{% block content_title %}<h2>
    {{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}
    </h2>{% endblock %}

{% block left_menu %}
    {% include 'left_menu.html' %}
{% endblock %}

{% block content %}
    {% if profile.user.id == user.id %}
        <div class="span7">
            <div class="row-fluid">
                <div class="span12 offset1">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row-fluid">
                                <div class="span3">
                                    {% odnosidelci_avatar profile.user 128 %}
                                </div>
                                <div class="span9">
                                    <h4>{{ profile.user.first_name }} {% if profile.nickname %}
                                        {{ profile.nickname }} {% endif %} {{ profile.user.last_name }}</h4><br>
                                    <table class="table table-condensed table-responsive table-user-information">
                                        <tbody>
                                        {% if profile.get_place %}
                                            <tr>
                                                <td>Место жительства:</td>
                                                <td>{{ profile.get_place }}</td>
                                            </tr>
                                        {% endif %}
                                        {% if profile.birth_date %}
                                            <tr>
                                                <td>День рождения:</td>
                                                <td>{{ profile.birth_date }}</td>
                                            </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div style="padding-top: 20px;">
                                {% for x in imprisonments %}
                                    <blockquote>
                                        <p>{{ x.jail.name }}</p>
                                        <small><cite title="Source Title"> с {{ x.begindate }} по {{ x.enddate }}</cite>
                                        </small>
                                    </blockquote>
                                    <br/>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            {% if profile.user.avatar_set.all %}
                <div class="row-fluid">
                    <div class="span9">
                        <h3>
                            Фотографии
                        </h3>


                        <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
                            {% for odnosidelci_avatar in profile.user.avatar_set.all %}
                                <a href="{{ odnosidelci_avatar.avatar.url }}" data-gallery="gallery">{% render_avatar odnosidelci_avatar 64 %}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}


        </div>
    {% else %}
        <div class="span7">
            <div class="row-fluid">
                <div class="span12 offset1">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row-fluid">
                                <div class="span3">
                                    {% odnosidelci_avatar profile.user 128 %}
                                </div>
                                <div class="span9">
                                    <h4>{{ profile.user.first_name }} {% if profile.nickname %} "{{ profile.nickname }}
                                        " {% endif %} {{ profile.user.last_name }}</h4><br>
                                    <table class="table table-condensed table-responsive table-user-information">
                                        <tbody>
                                        {% if profile.get_place %}
                                            <tr>
                                                <td>Место жительства:</td>
                                                <td>{{ profile.get_place }}</td>
                                            </tr>
                                        {% endif %}
                                        {% if profile.birth_date %}
                                            <tr>
                                                <td>День рождения:</td>
                                                <td>{{ profile.birth_date }}</td>
                                            </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div style="padding-top: 20px;">
                                {% for x in imprisonments %}
                                    <blockquote>
                                        <p>{{ x.jail.name }}</p>
                                        <small><cite title="Source Title"> с {{ x.begindate }} по {{ x.enddate }}</cite>
                                        </small>
                                    </blockquote>
                                    <br/>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a href="/umessages/view/{{ profile.user.username }}/" class="btn  btn-primary"
                               type="button"><i
                                    class="icon-envelope icon-white"></i>
                                Написать сообщение
                            </a>
                        <span class="pull-right">
                            {% if is_friend %}
                            {% else %}
                                <a class="btn btn-warning" href="/friend/add/{{ profile.user.username }}/"
                                   onclick="return confirm('Вы хотите внести этого пользователя в список своих друзей?');"
                                   type="button"><i class="icon-user icon-white"></i>
                                    Добавить в друзья
                                </a>
                            {% endif %}
                            <a href="#vipModal" data-toggle="modal" class="btn btn-danger" type="button"><i
                                    class="icon-gift icon-white"></i>
                                Подарить VIP
                            </a>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
            {% if profile.user.avatar_set.all %}
                <div class="row-fluid">
                    <div class="span9">
                        <h3>
                            Фотографии
                        </h3>

                        <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
                            {% for odnosidelci_avatar in profile.user.avatar_set.all %}
                                <a href="{{ odnosidelci_avatar.avatar.url }}" data-gallery="gallery">{% render_avatar odnosidelci_avatar 64 %}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script src="/static/gallery/js/load-image.js"></script>
    <script src="/static/gallery/js/bootstrap-image-gallery.js"></script>
{% endblock %}

{% block gallery_modal %}
<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1" style="z-index: 1041;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    <div class="modal-footer">
        <a class="btn btn-primary modal-next">Next <i class="icon-arrow-right icon-white"></i></a>
        <a class="btn btn-info modal-prev"><i class="icon-arrow-left icon-white"></i> Previous</a>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000"><i class="icon-play icon-white"></i> Slideshow</a>
        <a class="btn modal-download" target="_blank"><i class="icon-download"></i> Download</a>
    </div>
</div>
{% endblock %}
