{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span12">

                <div class="title">
                    <h1>Регистрация</h1>
                </div>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for field in form %}
                        {{ field.errors }}
                        {% comment %} Displaying checkboxes differently {% endcomment %}
                        {% if field.name == 'tos' %}
                            <p class="checkbox">
                                <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
                            </p>
                        {% else %}
                            <p>
                                {{ field.label_tag }}
                                {{ field }}
                            </p>
                        {% endif %}
                    {% endfor %}
                    <input type="submit" class="btn btn-primary" value="Регистрация"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
