{% extends "new_base.html" %}

{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Signin" %}{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="title">
                    <h1>Вход</h1>
                </div>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for field in form %}
                        {{ field.errors }}
                        {% comment %} Displaying checkboxes differently {% endcomment %}
                        {% if field.name == 'remember_me' %}
                            <p class="checkbox">
                                <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
                            </p>
                        {% else %}
                            <p>
                                {{ field.label_tag }}
                                {{ field }}
                            </p>
                        {% endif %}
                    {% endfor %}
                    <input type="submit" value="Вход" class="btn btn-primary"/>&nbsp;
                    <a href="{% url 'userena_password_reset' %}"
                       title="{% trans 'Forgot your password?' %}">{% trans "Forgot your password?" %}</a>
                    {% if next %}<input type="hidden" name="next" value="{{ next }}"/>{% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}




